$primary:         #30878F !default;
$primary-light:   #DAE1E9 !default;
$primary-dark:    #00455B !default;
$secondary:       #005568 !default;
$secondary-light: lighten($secondary, 10%);
$secondary-dark:  #013144 !default;
$green:           #c4d33e !default;
$light-green:     #B4d037 !default;
$dark-green:      #99B718 !default;