<div class="landing-banner">
  <div class="container">
    <div class="white-label-header">
      <h1 class="label-heading text-center">
        Better budgeting.
      </h1>
    </div>
  </div>
</div>
<div class="container relative">
  <div class="row">
    <img class="branded-screenshot" src="{{ 'images/branding/profitably_scrn.png' | cdn }}"
      width="868" height="358" alt="" />
  </div>
  <div class="row" style="text-align:center">
     <a class="btn btn-success btn-learn" href="#learn-more-modal" data-toggle="modal">
      <strong>Get an invite</strong><br>
      <img src="{{ 'images/startnow_finger.png' | cdn }}" width="212" height="22">
    </a>
  </div>
  <div class="row">
    <div class="white-label-logos text-center">
      <h2 class="label-heading">As seen on:</h2>
      <img src="{{ 'images/branding/logos_as_seen_on.png' | cdn }}" width="920" height="70" alt="" />
    </div>
  </div>
</div>