{% if experts %}
  {% for expert in experts %}
    <div class="span6">
      <div class="block-wrapper">
        <div class="card">
          <div class="img pull-left">
            <a href="/expert/{{expert.slug}}.html">
              {% if expert.avatar %}
                <img class="outlined" src="{{expert.avatar}}" width="105" height="105" alt="" />
              {% else %}
                <img class="outlined" src="http://placehold.it/105x105" width="105" height="105" alt="" />
              {% endif %}
            </a>
          </div>
          <div class="description pull-left">
            <h4><strong><a href="/expert/{{expert.slug}}.html">{{expert.name}}</a></strong></h4>
            <h5>{{expert.company}}</h5>
            <span>{{expert.title}}</span>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
