<div id="insights" class="section odd waypoint">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="page-header">
          <h1>Insights</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <ul class="nav nav-pills">
          <li><a href="#company">Company</a></li>
          <li><a href="#product">Product</a></li>
          <li><a href="#customer">Customer</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#vendor">Vendor</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- company insights -->
<div id="company" class="section waypoint">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="page-header">
          <h2>Company insights</h2>
          <p class="lead">Plan for the future and compare with actuals as they occur. Take it all in.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="insights row">
          <div class="image-holder span8">
            <img id="image-1" src="{{ 'assets/img/insights/company/the_key_bullet_list.png' | cdn }}" alt="The key bullet list">
            <img id="image-2" src="{{ 'assets/img/insights/company/flexible_profit_and_loss.png' | cdn }}" alt="Flexible profit &amp; loss">
            <img id="image-3" src="{{ 'assets/img/insights/company/clear_simple_cash_planning.png' | cdn }}" alt="Clear, simple cash planning">
          </div>
          <div class="span4">
            <ul class="insights-menu">
              <li class="selected" data-image="image-1">
                <h3>The key bullet list</h3>
                <p>Get an instant read on key business metrics every time you log on, updated in real time.</p>
              </li>
              <li data-image="image-2">
                <h3>Flexible profit &amp; loss</h3>
                <p>Are you making money or losing money? The P&amp;L is your key to the bottom line.</p>
              </li>
              <li data-image="image-3">
                <h3>Clear, simple cash planning</h3>
                <p>Keep a wary eye on how burn rate impacts cash runway &amp; cash on hand.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row sub-features">
      <div class="span4">
        <img src="{{ 'assets/img/insights/company/model_your_business_your_way.png' | cdn }}" alt="Model your business your way">
        <hr>
        <h3>Model your business your way</h3>
        <p>Every business is unique. Build a forecast easily based on how your business works.</p>
      </div>
      <div class="span4">
        <img src="{{ 'assets/img/insights/company/experiment_with_the_unknown.png' | cdn }}" alt="Model your business your way">
        <hr>
        <h3>Experiment with the unknown</h3>
        <p>Want to see what happens to cash if customer start paying later? Find out instantly.</p>
      </div>
      <div class="span4">
        <img src="{{ 'assets/img/insights/company/view_traditional_financial_statments.png' | cdn }}" alt="View traditional financial statements">
        <hr>
        <h3>View traditional financial statements</h3>
        <p>Our models aren't a black box. Your data is just your data.</p>
      </div>
    </div>
  </div>
</div>
<!-- // end company insights -->

<!-- product insights -->
<div id="product" class="section odd waypoint">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="page-header">
          <h2>Product insights</h2>
          <p class="lead">Understand which of your products &amp; services are driving your top line.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="insights row">
          <div class="span4">
            <ul class="insights-menu">
              <li class="selected" data-image="image-4">
                <h3>Track best-performing products</h3>
                <p>Rank your best performing products and quickly identify which are growing.</p>
              </li>
              <li data-image="image-5">
                <h3>Group products into revenue streams</h3>
                <p>Think of revenue streams as categories for revenue accounts that can be modeled.</p>
              </li>
              <li data-image="image-6">
                <h3>Forecast revenue across streams</h3>
                <p>Revenue streams are the perfect way to plan. Then compare budget to actuals!</p>
              </li>
            </ul>
          </div>
          <div class="image-holder span8">
            <img id="image-4" src="{{ 'assets/img/insights/product/track_best_performing_products.png' | cdn }}" alt="Track best-performing products">
            <img id="image-5" src="{{ 'assets/img/insights/product/group_products_into_revenue_streams.png' | cdn }}" alt="Group products into revenue streams">
            <img id="image-6" src="{{ 'assets/img/insights/product/forecast_revenue_across_streams.png' | cdn }}" alt="Forecast revenue across streams">
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row sub-features">
      <div class="span4">
        <i class="icon-anchor icon-3x"></i>
        <hr>
        <h3>Forecast cost of goods sold</h3>
        <p>Maintain clear visibility into what it costs you to deliver your products &amp; services.</p>
      </div>
      <div class="span4">
        <i class="icon-anchor icon-3x"></i>
        <hr>
        <h3>Keep an eye on margin</h3>
        <p>Some products and streams deliver revenue but no profit. That's why margin is so key.</p>
      </div>
      <div class="span4">
        <i class="icon-anchor icon-3x"></i>
        <hr>
        <h3>Monitor inventory metrics</h3>
        <p>We will shortly be releasing inventory analytics, so stay tuned!</p>
      </div>
    </div>
  </div>
</div>
<!-- // end product insights -->

<!-- customer insights -->
<div id="customer" class="section waypoint">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="page-header">
          <h2>Customer insights</h2>
          <p class="lead">We model the full lifecycle of a customer so that you can grow profits.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="insights row">
          <div class="image-holder span8">
            <img id="image-7" src="{{ 'assets/img/insights/customer/track_reach_and_conversion_across_channels.png' | cdn }}" alt="Track reach &amp; conversion across channels">
            <img id="image-8" src="{{ 'assets/img/insights/customer/forecast_revenue_across_segments.png' | cdn }}" alt="Forecast revenue across segments">
            <img id="image-9" src="{{ 'assets/img/insights/customer/track_churn_ARPC_and_LTV_across_segments.png' | cdn }}" alt="Track churn, ARPC, &amp; LTV across segments">
          </div>
          <div class="span4">
            <ul class="insights-menu">
              <li class="selected" data-image="image-7">
                <h3>Track reach &amp; conversion across channels</h3>
                <p>Customer acquisition analytics are key to planning for customer volume.</p>
              </li>
              <li data-image="image-8">
                <h3>Forecast revenue across segments</h3>
                <p>By looking at how much revenue comes from 1 customer, you can forecast revenue for many.</p>
              </li>
              <li data-image="image-9">
                <h3>Track churn, ARPC, &amp; LTV across segments</h3>
                <p>Customer lifecycle analytics include when customers depart and lifetime value.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row sub-features">
      <div class="span4">
        <i class="icon-anchor icon-3x"></i>
        <hr>
        <h3>Build a customer acquisition budget by channel</h3>
        <p>Forecast and track sales &amp; marketing costs required to acquire customers.</p>
      </div>
      <div class="span4">
        <i class="icon-anchor icon-3x"></i>
        <hr>
        <h3>Track best-performing customers</h3>
        <p>Now you can always see which customers and contributing to top line growth.</p>
      </div>
      <div class="span4">
        <i class="icon-anchor icon-3x"></i>
        <hr>
        <h3>Group customers into segments</h3>
        <p>Not all customers are created equally. See which segments really drive business.</p>
      </div>
    </div>
  </div>
</div>
<!-- // end customer insights -->

<!-- team insights -->
<div id="team" class="section odd waypoint">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="page-header">
          <h2>Team insights</h2>
          <p class="lead">Your team isn't just payroll expense. It's the lifeblood of the business.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="insights row">
          <div class="span4">
            <ul class="insights-menu">
              <li class="selected" data-image="image-10">
                <h3>Build a staffing plan (big image)</h3>
                <p>What sort of team will be required to deliver the business we expect?</p>
              </li>
              <li data-image="image-11">
                <h3>Benchmark staff levels against revenue</h3>
                <p>A dynamic staffing model adjusts when the revenue forecast adjusts.</p>
              </li>
              <li data-image="image-12">
                <h3>Include contractors in team planning</h3>
                <p>Your team isn't just payroll employees. Model contractors for a real team view.</p>
              </li>
            </ul>
          </div>
          <div class="image-holder span8">
            <img id="image-10" src="{{ 'assets/img/insights/team/build_a_staffing_plan.png' | cdn }}" alt="Build a staffing plan (big image)">
            <img id="image-11" src="{{ 'assets/img/insights/team/benchmark_staff_levels_against_revenue.png' | cdn }}" alt="Benchmark staff levels against revenue">
            <img id="image-12" src="{{ 'assets/img/insights/team/include_contractors_in_team_planning.png' | cdn }}" alt="Include contractors in team planning">
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row sub-features">
      <div class="span4">
        <i class="icon-anchor icon-3x"></i>
        <hr>
        <h3>Monitor costs to stay on track</h3>
        <p>Once your staffing plan is in place, monitoring budget vs actual is a breeze.</p>
      </div>
      <div class="span4">
        <i class="icon-anchor icon-3x"></i>
        <hr>
        <h3>Model commissions in the customer acquisition budget</h3>
        <p>Our commissions model allows you to budget variable comp for salespeople.</p>
      </div>
      <div class="span4">
        <i class="icon-anchor icon-3x"></i>
        <hr>
        <h3>Utilization and employee profitability</h3>
        <p>We will shortly offer insights into how your employees are contributing to the bottom line.</p>
      </div>
    </div>
  </div>
</div>
<!-- // end team insights -->

<!-- vendor insights -->
<div id="vendor" class="section waypoint">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="page-header">
          <h2>Vendor insights</h2>
          <p class="lead">Overhead costs can sap resources quickly if unwatched. Keep your vendors in check.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="insights row">
          <div class="image-holder span8">
            <img id="image-13" src="{{ 'assets/img/insights/vendor/build_a_demand_forecast_for_general_and_admin_costs.png' | cdn }}" alt="Build a demand forecast for general &amp; admin costs">
            <img id="image-14" src="{{ 'assets/img/insights/vendor/group_accounts_into_categories.png' | cdn }}" alt="Group accounts into categories">
            <img id="image-15" src="{{ 'assets/img/insights/vendor/plan_with_flexible_cost_drivers.png' | cdn }}" alt="Plan with flexible cost drivers">
          </div>
          <div class="span4">
            <ul class="insights-menu">
              <li class="selected" data-image="image-13">
                <h3>Build a demand forecast for general &amp; admin costs</h3>
                <p>Demand forecasts for G&amp;A expenditures are simple and intuitive. Just drag and drop.</p>
              </li>
              <li data-image="image-14">
                <h3>Group accounts into categories</h3>
                <p>Grouping G&amp;A costs into categories provides a digestible level of detail.</p>
              </li>
              <li data-image="image-15">
                <h3>Plan with flexible cost drivers</h3>
                <p>Benchmark each category against its most natural cost driver for planning.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row sub-features">
      <div class="span4">
        <i class="icon-anchor icon-3x"></i>
        <hr>
        <h3>Analyze individual vendors</h3>
        <p>Dig into the details! Track individual vendors because it's your money.</p>
      </div>
      <div class="span4">
        <i class="icon-anchor icon-3x"></i>
        <hr>
        <h3>View time series or aggregations</h3>
        <p>There are lots of different ways to view your spending, each providing insights.</p>
      </div>
      <div class="span4">
        <i class="icon-anchor icon-3x"></i>
        <hr>
        <h3>Detailed vendor profiles</h3>
        <p>More detail will soon be available to track purchase frequency, size, and more...</p>
      </div>
    </div>
  </div>
</div>
<!-- // end vendor insights -->