<!-- company insights -->
<div id="company" class="section waypoint">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Company insights</h1>
        <p class="lead">Plan for the future and compare with actuals as they occur. Take it all in.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="insights row">
          <div class="image-holder col-xs-8">
            <img id="image-1" src="{{ 'assets/images/insights/company/the_key_bullet_list.png' | cdn }}" alt="The key bullet list">
            <img id="image-2" src="{{ 'assets/images/insights/company/flexible_profit_and_loss.png' | cdn }}" alt="Flexible profit &amp; loss">
            <img id="image-3" src="{{ 'assets/images/insights/company/clear_simple_cash_planning.png' | cdn }}" alt="Clear, simple cash planning">
          </div>
          <div class="col-xs-4">
            <ul class="insights-menu">
              <li class="selected" data-image="image-1">
                <h3 class="h5">The key bullet list</h3>
                <p><small>Get an instant read on key business metrics every time you log on, updated in real time.</small></p>
              </li>
              <li data-image="image-2">
                <h3 class="h5">Flexible profit &amp; loss</h3>
                <p><small>Are you making money or losing money? The P&amp;L is your key to the bottom line.</small></p>
              </li>
              <li data-image="image-3">
                <h3 class="h5">Clear, simple cash planning</h3>
                <p><small>Keep a wary eye on how burn rate impacts cash runway &amp; cash on hand.</small></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row sub-features">
      <div class="col-xs-4 text-center">
        <img src="{{ 'assets/images/insights/company/model_your_business_your_way.png' | cdn }}" alt="Model your business your way">
        <h3 class="h5">Model your business your way</h3>
        <p><small>Every business is unique. Build a forecast easily based on how your business works.</small></p>
      </div>
      <div class="col-xs-4">
        <img src="{{ 'assets/images/insights/company/experiment_with_the_unknown.png' | cdn }}" alt="Model your business your way">
        <h3 class="h5">Experiment with the unknown</h3>
        <p><small>Want to see what happens to cash if customer start paying later? Find out instantly.</small></p>
      </div>
      <div class="col-xs-4">
        <img src="{{ 'assets/images/insights/company/view_traditional_financial_statments.png' | cdn }}" alt="View traditional financial statements">
        <h3 class="h5">View traditional financial statements</h3>
        <p><small>Our models aren't a black box. Your data is just your data.</small></p>
      </div>
    </div>
  </div>
</div>
<!-- // end company insights -->

<!-- product insights -->
<div id="product" class="section odd waypoint">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Product insights</h1>
        <p class="lead">Understand which of your products &amp; services are driving your top line.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="insights row">
          <div class="col-xs-4">
            <ul class="insights-menu">
              <li class="selected" data-image="image-4">
                <h3 class="h5">Track best-performing products</h3>
                <p><small>Rank your best performing products and quickly identify which are growing.</small></p>
              </li>
              <li data-image="image-5">
                <h3 class="h5">Group products into revenue streams</h3>
                <p><small>Think of revenue streams as categories for revenue accounts that can be modeled.</small></p>
              </li>
              <li data-image="image-6">
                <h3 class="h5">Forecast revenue across streams</h3>
                <p><small>Revenue streams are the perfect way to plan. Then compare budget to actuals!</small></p>
              </li>
            </ul>
          </div>
          <div class="image-holder col-xs-8">
            <img id="image-4" src="{{ 'assets/images/insights/product/track_best_performing_products.png' | cdn }}" alt="Track best-performing products">
            <img id="image-5" src="{{ 'assets/images/insights/product/group_products_into_revenue_streams.png' | cdn }}" alt="Group products into revenue streams">
            <img id="image-6" src="{{ 'assets/images/insights/product/forecast_revenue_across_streams.png' | cdn }}" alt="Forecast revenue across streams">
          </div>
        </div>
      </div>
    </div>
    <div class="row sub-features text-center">
      <div class="col-xs-4">
        <i class="icon-anchor icon-3x"></i>
        <h3 class="h5">Forecast cost of goods sold</h3>
        <p><small>Maintain clear visibility into what it costs you to deliver your products &amp; services.</small></p>
      </div>
      <div class="col-xs-4">
        <i class="icon-anchor icon-3x"></i>
        <h3 class="h5">Keep an eye on margin</h3>
        <p><small>Some products and streams deliver revenue but no profit. That's why margin is so key.</small></p>
      </div>
      <div class="col-xs-4">
        <i class="icon-anchor icon-3x"></i>
        <h3 class="h5">Monitor inventory metrics</h3>
        <p><small>We will shortly be releasing inventory analytics, so stay tuned!</small></p>
      </div>
    </div>
  </div>
</div>
<!-- // end product insights -->

<!-- customer insights -->
<div id="customer" class="section waypoint">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Customer insights</h1>
        <p class="lead">We model the full lifecycle of a customer so that you can grow profits.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="insights row">
          <div class="image-holder col-xs-8">
            <img id="image-7" src="{{ 'assets/images/insights/customer/track_reach_and_conversion_across_channels.png' | cdn }}" alt="Track reach &amp; conversion across channels">
            <img id="image-8" src="{{ 'assets/images/insights/customer/forecast_revenue_across_segments.png' | cdn }}" alt="Forecast revenue across segments">
            <img id="image-9" src="{{ 'assets/images/insights/customer/track_churn_ARPC_and_LTV_across_segments.png' | cdn }}" alt="Track churn, ARPC, &amp; LTV across segments">
          </div>
          <div class="col-xs-4">
            <ul class="insights-menu">
              <li class="selected" data-image="image-7">
                <h3 class="h5">Track reach &amp; conversion across channels</h3>
                <p><small>Customer acquisition analytics are key to planning for customer volume.</small></p>
              </li>
              <li data-image="image-8">
                <h3 class="h5">Forecast revenue across segments</h3>
                <p><small>By looking at how much revenue comes from 1 customer, you can forecast revenue for many.</small></p>
              </li>
              <li data-image="image-9">
                <h3 class="h5">Track churn, ARPC, &amp; LTV across segments</h3>
                <p><small>Customer lifecycle analytics include when customers depart and lifetime value.</small></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row sub-features text-center">
      <div class="col-xs-4">
        <i class="icon-anchor icon-3x"></i>
        <h3 class="h5">Build a customer acquisition budget by channel</h3>
        <p><small>Forecast and track sales &amp; marketing costs required to acquire customers.</small></p>
      </div>
      <div class="col-xs-4">
        <i class="icon-anchor icon-3x"></i>
        <h3 class="h5">Track best-performing customers</h3>
        <p><small>Now you can always see which customers and contributing to top line growth.</small></p>
      </div>
      <div class="col-xs-4">
        <i class="icon-anchor icon-3x"></i>
        <h3 class="h5">Group customers into segments</h3>
        <p><small>Not all customers are created equally. See which segments really drive business.</small></p>
      </div>
    </div>
  </div>
</div>
<!-- // end customer insights -->

<!-- team insights -->
<div id="team" class="section odd waypoint">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Team insights</h1>
        <p class="lead">Your team isn't just payroll expense. It's the lifeblood of the business.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="insights row">
          <div class="col-xs-4">
            <ul class="insights-menu">
              <li class="selected" data-image="image-10">
                <h3 class="h5">Build a staffing plan (big image)</h3>
                <p><small>What sort of team will be required to deliver the business we expect?</small></p>
              </li>
              <li data-image="image-11">
                <h3 class="h5">Benchmark staff levels against revenue</h3>
                <p><small>A dynamic staffing model adjusts when the revenue forecast adjusts</small>.</p>
              </li>
              <li data-image="image-12">
                <h3 class="h5">Include contractors in team planning</h3>
                <p><small>Your team isn't just payroll employees. Model contractors for a real team view.</small></p>
              </li>
            </ul>
          </div>
          <div class="image-holder col-xs-8">
            <img id="image-10" src="{{ 'assets/images/insights/team/build_a_staffing_plan.png' | cdn }}" alt="Build a staffing plan (big image)">
            <img id="image-11" src="{{ 'assets/images/insights/team/benchmark_staff_levels_against_revenue.png' | cdn }}" alt="Benchmark staff levels against revenue">
            <img id="image-12" src="{{ 'assets/images/insights/team/include_contractors_in_team_planning.png' | cdn }}" alt="Include contractors in team planning">
          </div>
        </div>
      </div>
    </div>
    <div class="row sub-features text-center">
      <div class="col-xs-4">
        <i class="icon-anchor icon-3x"></i>
        <h3 class="h5">Monitor costs to stay on track</h3>
        <p><small>Once your staffing plan is in place, monitoring budget vs actual is a breeze.</small></p>
      </div>
      <div class="col-xs-4">
        <i class="icon-anchor icon-3x"></i>
        <h3 class="h5">Model commissions in the customer acquisition budget</h3>
        <p><small>Our commissions model allows you to budget variable comp for salespeople.</small></p>
      </div>
      <div class="col-xs-4">
        <i class="icon-anchor icon-3x"></i>
        <h3 class="h5">Utilization and employee profitability</h3>
        <p><small>We will shortly offer insights into how your employees are contributing to the bottom line.</small></p>
      </div>
    </div>
  </div>
</div>
<!-- // end team insights -->

<!-- vendor insights -->
<div id="vendor" class="section waypoint">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Vendor insights</h2>
        <p class="lead">Overhead costs can sap resources quickly if unwatched. Keep your vendors in check.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="insights row">
          <div class="image-holder col-xs-8">
            <img id="image-13" src="{{ 'assets/images/insights/vendor/build_a_demand_forecast_for_general_and_admin_costs.png' | cdn }}" alt="Build a demand forecast for general &amp; admin costs">
            <img id="image-14" src="{{ 'assets/images/insights/vendor/group_accounts_into_categories.png' | cdn }}" alt="Group accounts into categories">
            <img id="image-15" src="{{ 'assets/images/insights/vendor/plan_with_flexible_cost_drivers.png' | cdn }}" alt="Plan with flexible cost drivers">
          </div>
          <div class="col-xs-4">
            <ul class="insights-menu">
              <li class="selected" data-image="image-13">
                <h3 class="h5">Build a demand forecast for general &amp; admin costs</h3>
                <p><small>Demand forecasts for G&amp;A expenditures are simple and intuitive. Just drag and drop.</small></p>
              </li>
              <li data-image="image-14">
                <h3 class="h5">Group accounts into categories</h3>
                <p><small>Grouping G&amp;A costs into categories provides a digestible level of detail.</small></p>
              </li>
              <li data-image="image-15">
                <h3 class="h5">Plan with flexible cost drivers</h3>
                <p><small>Benchmark each category against its most natural cost driver for planning.</small></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row sub-features text-center">
      <div class="col-xs-4">
        <i class="icon-anchor icon-3x"></i>
        <h3 class="h5">Analyze individual vendors</h3>
        <p><small>Dig into the details! Track individual vendors because it's your money.</small></p>
      </div>
      <div class="col-xs-4">
        <i class="icon-anchor icon-3x"></i>
        <h3 class="h5">View time series or aggregations</h3>
        <p><small>There are lots of different ways to view your spending, each providing insights.</small></p>
      </div>
      <div class="col-xs-4">
        <i class="icon-anchor icon-3x"></i>
        <h3 class="h5">Detailed vendor profiles</h3>
        <p><small>More detail will soon be available to track purchase frequency, size, and more...</small></p>
      </div>
    </div>
  </div>
</div>
<!-- // end vendor insights -->