<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="{{ 'assets/images/branding/activecell-full-color-darkBG-small.png' | cdn }}" height="30" alt="activecell">
      </a>
    </div>
    <nav class="col-xs-6" role="navigation">
      <ul class="nav navbar-nav">
        <li><a href="/#features">Features</a></li>
        <li><a href="/#pricing">Pricing</a></li>
      </ul>
    </nav>
    <div class="pull-right">
      <div class="btn-group navbar-text">
        <a class="btn btn-success btn-sm" href="#learn-more-modal" data-toggle="modal">
          <strong>Get an invite</strong>
        </a>
        <a class="btn btn-primary btn-sm" href="https://launchpad.activecell.com/users/sign_in">
          or <strong>Sign in</strong>
        </a>
      </div>
    </div>
  </div>
</header>