<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container relative">
      <div class="row">
        <div class="span9">
          <a class="brand" href="http://www.activecell.com/">
            <img src="{{ 'assets/img/branding/activecell-full-color-darkBG-small.png' | cdn }}" alt="activecell">
          </a>
          <div class="nav">
            <ul class="nav">
              <li><a href="#features">Features</a></li>
              <li><a href="#pricing">Pricing</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
        <div class="span3">
          <div class="btn-toolbar signin">
            <div class="btn-group">
              <a class="btn btn-success" href="#learn-more-modal" data-toggle="modal">
                <strong>Get an invite</strong>
              </a>
              <a class="btn btn-primary" href="https://launchpad.activecell.com/users/sign_in">
                or <strong>Sign in</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>