<div class="waypoint container" id="pricing" >
   <div class="row">
      <div class="span12">
         <h1 class="heading">Pricing</h1>
      </div>
   </div>
   <div class="row subscription-plans">
     <div class="span4">
       <div class="subscribe-plan monthly">
         <header>
           <h1>Monthly</h1>
           <h2>one step at a time</h2>
         </header>
         <!-- <div class="price old">
           <span class="value">
            $99<sup>99</sup>
          </span>
          <span class="time-period">per month</span>
         </div> -->
         <div class="price">
           <div class="ribbon red">
            <a href="#learn-more-modal" data-toggle="modal">beta</a>
           </div>

           <span class="value">
            $39<sup>99</sup>
          </span>
          <span class="time-period">per month</span>
         </div>
         <ul class="plan-items">
           <li><i class="icon-cloud-download icon-primary"><!-- --></i> real time data integration</li>
           <li><i class="icon-bar-chart icon-primary"><!-- --></i> world class analytics</li>
           <li><i class="icon-user icon-primary"><!-- --></i> powerful planning tools</li>
           <li><i class="icon-lock icon-primary"><!-- --></i> proven data security</li>
         </ul>
         <p class="plan-footer">
           monthly plans allow you to get started with activecell one step at
           a time before making a commitment to a longer-term arrangement.
         </p>
         <div class="info-control">
           <a class="btn btn-primary subscribe-button monthly" href="#learn-more-modal" data-toggle="modal">
             Get an invite
           </a>
         </div>
       </div>
     </div>

     <div class="span4">
       <div class="subscribe-plan annual">
         <header>
           <h1>Annual</h1>
           <h2>get to work</h2>
         </header>
         <!-- <div class="price old">
           <span class="value">
            $999<sup>99</sup>
          </span>
          <span class="time-period">yearly</span>
         </div> -->
         <div class="price">
           <div class="ribbon">
            <a href="#learn-more-modal" data-toggle="modal">beta</a>
           </div>

           <span class="value">
            $399<sup>99</sup>
          </span>
          <span class="time-period">yearly</span>
         </div>
         <ul class="plan-items">
           <li><i class="icon-circle-arrow-left icon-primary"><!-- --></i> everything from monthly</li>
           <li><i class="icon-fire icon-primary"><!-- --></i> initial setup consultation</li>
           <li><i class="icon-heart icon-primary"><!-- --></i> 24/7 tech support</li>
           <li><i class="icon-building icon-primary"><!-- --></i> custom branding</li>
         </ul>
         <p class="plan-footer">
           annual plans save you some cash and get you a little extra love (!). <br />
           let us know what you need and we can always get it done.
         </p>
         <div class="info-control">
           <a class="btn btn-primary subscribe-button annual" href="#learn-more-modal" data-toggle="modal">
             Get an invite
           </a>
         </div>
       </div>
     </div>

     <div class="span4">
       <div class="subscribe-plan advisor">
         <header>
           <h1>Advisor</h1>
           <h2>activecell for your clients</h2>
         </header>
         <!-- <div class="price old">
           <span class="value">
            $1,449<sup>99</sup>
          </span>
          <span class="time-period">per client yearly</span>
         </div> -->
         <div class="price">
           <div class="ribbon green">
            <a href="#learn-more-modal" data-toggle="modal">beta</a>
           </div>

           <span class="value">
            $579<sup>99</sup>
          </span>
          <span class="time-period">per client yearly</span>
         </div>
         <ul class="plan-items">
           <li><i class="icon-circle-arrow-left icon-primary"><!-- --></i> everything from annual</li>
           <li><i class="icon-globe icon-primary"><!-- --></i> centralized administration</li>
           <li><i class="icon-credit-card icon-primary"><!-- --></i> centralized billing</li>
           <li><i class="icon-star icon-primary"><!-- --></i> private label experience</li>
         </ul>
         <p class="plan-footer">
           offer activecell for your clients with a fully-branded private label
           experience, and your copy is free once you have 10 clients on board!
         </p>
         <div class="info-control">
           <a class="btn btn-primary subscribe-button advisor"
            href="#learn-more-modal" data-toggle="modal">
             Get an invite
           </a>
         </div>
       </div> <!-- /.subscribe-plan -->
     </div>
   </div>
   <div class="row explanation">
      <div class="span8">
        <div class="well">
          <h3>What does "Beta" mean?</h3>
          <p>
            We aren't done building the product yet. But rather than working in
            hiding, we prefer to build it with you to ensure that we're building
            what you need.
          </p>
          <h4>Here's what we propose:</h4>
          <ul class="plan-items">
            <li>
              <i class="icon-ok"><!-- --></i>
              You get started with us before the product is ready</li>
            <li>
              <i class="icon-ok"><!-- --></i>
              We will give you a discount on the price, and that's your price forever!</li>
            <li>
              <i class="icon-ok"><!-- --></i>
              You provide input into what you'd like to see in the app and how you'll use it</li>
            <li>
              <i class="icon-ok"><!-- --></i>
              We will do our best to build it for you.</li>
          </ul>
        </div>
      </div>
      <div class="span4 link">
        <p>
          <a href="#learn-more-modal">Get an invite</a>
        </p>
        <ul class="plan-items">
          <li><i class="icon-star icon-primary"><!-- --></i> Free 30 day trial</li>
          <li><i class="icon-star icon-primary"><!-- --></i> No credit card required!</li>
        </ul>
      </div>
  </div>
</div>