<div class="waypoint container" id="pricing" >
   <div class="row">
      <div class="col-xs-12">
         <h2 class="heading">Pricing</h2>
      </div>
   </div>
   <div class="row subscription-plans">
     <div class="col-xs-4">
       <div class="subscribe-plan well monthly">
         <header>
           <h3 class="text-center">Monthly</h3>
           <h4 class="text-center">One step at a time</h4>
         </header>
         <div class="price">
           <div class="ribbon green">
            <a href="#learn-more-modal" data-toggle="modal">beta</a>
           </div>
           <span class="value">
            $39<sup>99</sup>
          </span>
          <span class="time-period">per month</span>
         </div>
         <ul class="plan-items">
           <li><i class="icon-cloud-download icon-primary"><!-- --></i> Real time data integration</li>
           <li><i class="icon-bar-chart icon-primary"><!-- --></i> World class analytics</li>
           <li><i class="icon-user icon-primary"><!-- --></i> Powerful planning tools</li>
           <li><i class="icon-lock icon-primary"><!-- --></i> Proven data security</li>
         </ul>
         <p class="plan-footer">
           Monthly plans allow you to get started with Activecell one step at
           a time before making a commitment to a longer-term arrangement.
         </p>
         <div class="info-control">
           <a class="btn btn-primary subscribe-button monthly" href="#learn-more-modal" data-toggle="modal">
             Get an invite
           </a>
         </div>
       </div>
     </div>


     <div class="col-xs-4">
       <div class="subscribe-plan well annual">
         <header>
           <h3 class="text-center">Annual</h3>
           <h4 class="text-center">Get to work</h4>
         </header>
         <div class="price">
           <div class="ribbon green">
            <a href="#learn-more-modal" data-toggle="modal">beta</a>
           </div>
           <span class="value">
            $399<sup>99</sup>
          </span>
          <span class="time-period">per year</span>
         </div>
         <ul class="plan-items">
           <li><i class="icon-circle-arrow-left icon-primary"><!-- --></i> Everything from monthly</li>
           <li><i class="icon-fire icon-primary"><!-- --></i> Initial setup consultation</li>
           <li><i class="icon-heart icon-primary"><!-- --></i> 24/7 tech support</li>
           <li><i class="icon-building icon-primary"><!-- --></i> Custom branding</li>
         </ul>
         <p class="plan-footer">
           Annual plans save you some cash and get you a little extra love (!). <br />
           let us know what you need and we can always get it done.
         </p>
         <div class="info-control">
           <a class="btn btn-primary subscribe-button annual" href="#learn-more-modal" data-toggle="modal">
             Get an invite
           </a>
         </div>
       </div>
     </div>

     <div class="col-xs-4">
       <div class="subscribe-plan well advisor">
         <header>
           <h3 class="text-center">Advisor</h3>
           <h4 class="text-center">Activecell for your clients</h4>
         </header>
         <div class="price">
           <div class="ribbon green">
            <a href="#learn-more-modal" data-toggle="modal">beta</a>
           </div>
           <span class="value">
            $579<sup>99</sup>
          </span>
          <span class="time-period">per client yearly</span>
         </div>
         <ul class="plan-items">
           <li><i class="icon-circle-arrow-left icon-primary"><!-- --></i> everything from annual</li>
           <li><i class="icon-globe icon-primary"><!-- --></i> centralized administration</li>
           <li><i class="icon-credit-card icon-primary"><!-- --></i> centralized billing</li>
           <li><i class="icon-star icon-primary"><!-- --></i> private label experience</li>
         </ul>
         <p class="plan-footer">
           Offer activecell for your clients with a fully-branded private label
           experience, and your copy is free once you have 10 clients on board!
         </p>
         <div class="info-control">
           <a class="btn btn-primary subscribe-button advisor"
            href="#learn-more-modal" data-toggle="modal">
             Get an invite
           </a>
         </div>
       </div> <!-- /.subscribe-plan well -->
     </div>
   </div>
  </div>
</div>