[class^="icon-small"]:last-child, [class*=" icon-small"]:last-child {
  *margin-left: 0;
}

[class^="icon-small"], [class*=" icon-small"] {
  background-image: url('../images/icons/sprite_icons_16x16.png');
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.icon-small-add-chat                      { background-position: -10px -10px; }
.icon-small-add-doc                       { background-position: -30px -10px; }
.icon-small-add-image                     { background-position: -50px -10px; }
.icon-small-add-product                   { background-position: -70px -10px; }
.icon-small-add-tag                       { background-position: -90px -10px; }
.icon-small-add-user                      { background-position: -110px -10px; }
.icon-small-add-video                     { background-position: -130px -10px; }
.icon-small-add-window                    { background-position: -150px -10px; }
.icon-small-adress-book                   { background-position: -170px -10px; }
.icon-small-alert                         { background-position: -190px -10px; }
.icon-small-align-center                  { background-position: -210px -10px; }
.icon-small-align-left                    { background-position: -230px -10px; }
.icon-small-align-right                   { background-position: -250px -10px; }
.icon-small-arrow-circle-down             { background-position: -270px -10px; }
.icon-small-arrow-circle-left             { background-position: -290px -10px; }
.icon-small-arrow-circle-right            { background-position: -310px -10px; }
.icon-small-arrow-circle-top              { background-position: -330px -10px; }
.icon-small-arrow-left                    { background-position: -350px -10px; }
.icon-small-arrow-right                   { background-position: -370px -10px; }
.icon-small-attach                        { background-position: -390px -10px; }
.icon-small-attention                     { background-position: -10px -30px; }
.icon-small-bag                           { background-position: -30px -30px; }
.icon-small-baloon                        { background-position: -50px -30px; }
.icon-small-baloon-question               { background-position: -70px -30px; }
.icon-small-bell                          { background-position: -90px -30px; }
.icon-small-binoculars                    { background-position: -110px -30px; }
.icon-small-book                          { background-position: -130px -30px; }
.icon-small-book2                         { background-position: -150px -30px; }
.icon-small-box                           { background-position: -170px -30px; }
.icon-small-break                         { background-position: -190px -30px; }
.icon-small-brush                         { background-position: -210px -30px; }
.icon-small-bug                           { background-position: -230px -30px; }
.icon-small-building                      { background-position: -250px -30px; }
.icon-small-building2                     { background-position: -270px -30px; }
.icon-small-businessman                   { background-position: -290px -30px; }
.icon-small-bulb                          { background-position: -310px -30px; }
.icon-small-bulb-off                      { background-position: -330px -30px; }
.icon-small-bulb-shine                    { background-position: -350px -30px; }
.icon-small-bus                           { background-position: -370px -30px; }
.icon-small-calc                          { background-position: -390px -30px; }
.icon-small-calendar                      { background-position: -10px -50px; }
.icon-small-case                          { background-position: -30px -50px; }
.icon-small-chart                         { background-position: -50px -50px; }
.icon-small-chat                          { background-position: -70px -50px; }
.icon-small-check-mark0                   { background-position: -90px -50px; }
.icon-small-check-mark1                   { background-position: -110px -50px; }
.icon-small-check-mark2                   { background-position: -130px -50px; }
.icon-small-check-mark3                   { background-position: -150px -50px; }
.icon-small-circle-cross                  { background-position: -170px -50px; }
.icon-small-clipboard                     { background-position: -190px -50px; }
.icon-small-clock                         { background-position: -210px -50px; }
.icon-small-cloud                         { background-position: -230px -50px; }
.icon-small-code                          { background-position: -250px -50px; }
.icon-small-color-picker                  { background-position: -270px -50px; }
.icon-small-computer                      { background-position: -290px -50px; }
.icon-small-console                       { background-position: -310px -50px; }
.icon-small-cross                         { background-position: -330px -50px; }
.icon-small-cross-small                   { background-position: -350px -50px; }
.icon-small-darts-board                   { background-position: -370px -50px; }
.icon-small-dashboard                     { background-position: -390px -50px; }
.icon-small-database                      { background-position: -10px -70px; }
.icon-small-deer                          { background-position: -30px -70px; }
.icon-small-doc                           { background-position: -50px -70px; }
.icon-small-docs                          { background-position: -70px -70px; }
.icon-small-download                      { background-position: -90px -70px; }
.icon-small-embed                         { background-position: -110px -70px; }
.icon-small-end                           { background-position: -130px -70px; }
.icon-small-expand                        { background-position: -150px -70px; }
.icon-small-eye                           { background-position: -170px -70px; }
.icon-small-fire                          { background-position: -190px -70px; }
.icon-small-flag                          { background-position: -210px -70px; }
.icon-small-folder                        { background-position: -230px -70px; }
.icon-small-fullscreen                    { background-position: -250px -70px; }
.icon-small-fullscreen2                   { background-position: -270px -70px; }
.icon-small-fwd                           { background-position: -290px -70px; }
.icon-small-game-console                  { background-position: -310px -70px; }
.icon-small-get-from-cloud                { background-position: -330px -70px; }
.icon-small-globe                         { background-position: -350px -70px; }
.icon-small-globe2                        { background-position: -370px -70px; }
.icon-small-group-icon                    { background-position: -390px -70px; }
.icon-small-hand                          { background-position: -10px -90px; }
.icon-small-headphones                    { background-position: -30px -90px; }
.icon-small-heart                         { background-position: -50px -90px; }
.icon-small-heart-empty                   { background-position: -70px -90px; }
.icon-small-home                          { background-position: -90px -90px; }
.icon-small-image                         { background-position: -110px -90px; }
.icon-small-info                          { background-position: -130px -90px; }
.icon-small-ipad                          { background-position: -150px -90px; }
.icon-small-iphone                        { background-position: -170px -90px; }
.icon-small-key                           { background-position: -190px -90px; }
.icon-small-laughing                      { background-position: -210px -90px; }
.icon-small-layers                        { background-position: -230px -90px; }
.icon-small-like                          { background-position: -250px -90px; }
.icon-small-line-chart                    { background-position: -270px -90px; }
.icon-small-link                          { background-position: -290px -90px; }
.icon-small-list                          { background-position: -310px -90px; }
.icon-small-location                      { background-position: -330px -90px; }
.icon-small-location-place                { background-position: -350px -90px; }
.icon-small-lock                          { background-position: -370px -90px; }
.icon-small-magic-wand                    { background-position: -390px -90px; }
.icon-small-mail                          { background-position: -10px -110px; }
.icon-small-melody                        { background-position: -30px -110px; }
.icon-small-melody2                       { background-position: -50px -110px; }
.icon-small-mic                           { background-position: -70px -110px; }
.icon-small-mobile                        { background-position: -90px -110px; }
.icon-small-modern-camera                 { background-position: -110px -110px; }
.icon-small-more                          { background-position: -130px -110px; }
.icon-small-movie                         { background-position: -150px -110px; }
.icon-small-new-mail                      { background-position: -170px -110px; }
.icon-small-note                          { background-position: -190px -110px; }
.icon-small-notebook                      { background-position: -210px -110px; }
.icon-small-pages                         { background-position: -230px -110px; }
.icon-small-pause                         { background-position: -250px -110px; }
.icon-small-pause-circle                  { background-position: -270px -110px; }
.icon-small-pencil                        { background-position: -290px -110px; }
.icon-small-phone                         { background-position: -310px -110px; }
.icon-small-phone-book                    { background-position: -330px -110px; }
.icon-small-photo                         { background-position: -350px -110px; }
.icon-small-picture                       { background-position: -370px -110px; }
.icon-small-pie-chart                     { background-position: -390px -110px; }
.icon-small-pin                           { background-position: -10px -130px; }
.icon-small-plane                         { background-position: -30px -130px; }
.icon-small-plastic-card                  { background-position: -50px -130px; }
.icon-small-play                          { background-position: -70px -130px; }
.icon-small-play-circle                   { background-position: -90px -130px; }
.icon-small-plus                          { background-position: -110px -130px; }
.icon-small-plus2                         { background-position: -130px -130px; }
.icon-small-pointer-bottom                { background-position: -150px -130px; }
.icon-small-pointer-left                  { background-position: -170px -130px; }
.icon-small-pointer-right                 { background-position: -190px -130px; }
.icon-small-pointer-top                   { background-position: -210px -130px; }
.icon-small-pop-up-video                  { background-position: -230px -130px; }
.icon-small-power                         { background-position: -250px -130px; }
.icon-small-presentation                  { background-position: -270px -130px; }
.icon-small-print                         { background-position: -290px -130px; }
.icon-small-private                       { background-position: -310px -130px; }
.icon-small-put-in-cloud                  { background-position: -330px -130px; }
.icon-small-question                      { background-position: -350px -130px; }
.icon-small-quill                         { background-position: -370px -130px; }
.icon-small-reload                        { background-position: -390px -130px; }
.icon-small-remove-chat                   { background-position: -10px -150px; }
.icon-small-remove-doc                    { background-position: -30px -150px; }
.icon-small-remove-image                  { background-position: -50px -150px; }
.icon-small-remove-product                { background-position: -70px -150px; }
.icon-small-remove-tag                    { background-position: -90px -150px; }
.icon-small-remove-user                   { background-position: -110px -150px; }
.icon-small-remove-video                  { background-position: -130px -150px; }
.icon-small-remove-window                 { background-position: -150px -150px; }
.icon-small-return                        { background-position: -170px -150px; }
.icon-small-rev                           { background-position: -190px -150px; }
.icon-small-rss                           { background-position: -210px -150px; }
.icon-small-sad-smile                     { background-position: -230px -150px; }
.icon-small-schedule                      { background-position: -250px -150px; }
.icon-small-scissors                      { background-position: -270px -150px; }
.icon-small-search                        { background-position: -290px -150px; }
.icon-small-security                      { background-position: -310px -150px; }
.icon-small-secutity-ok                   { background-position: -330px -150px; }
.icon-small-send                          { background-position: -350px -150px; }
.icon-small-settings                      { background-position: -370px -150px; }
.icon-small-settings2                     { background-position: -390px -150px; }
.icon-small-share                         { background-position: -10px -170px; }
.icon-small-shit                          { background-position: -30px -170px; }
.icon-small-shopping-bag                  { background-position: -50px -170px; }
.icon-small-shopping-cart                 { background-position: -70px -170px; }
.icon-small-shopping-cart-full            { background-position: -90px -170px; }
.icon-small-shopping-cart-in              { background-position: -110px -170px; }
.icon-small-shopping-cart-out             { background-position: -130px -170px; }
.icon-small-shorten                       { background-position: -150px -170px; }
.icon-small-smile                         { background-position: -170px -170px; }
.icon-small-star                          { background-position: -190px -170px; }
.icon-small-start                         { background-position: -210px -170px; }
.icon-small-stop                          { background-position: -230px -170px; }
.icon-small-support                       { background-position: -250px -170px; }
.icon-small-tag                           { background-position: -270px -170px; }
.icon-small-tags                          { background-position: -290px -170px; }
.icon-small-thumbnails                    { background-position: -310px -170px; }
.icon-small-thumbnails-large              { background-position: -330px -170px; }
.icon-small-timer                         { background-position: -350px -170px; }
.icon-small-trash                         { background-position: -370px -170px; }
.icon-small-tv                            { background-position: -390px -170px; }
.icon-small-unfullscreen                  { background-position: -10px -190px; }
.icon-small-unfullscreen2                 { background-position: -30px -190px; }
.icon-small-unlike                        { background-position: -50px -190px; }
.icon-small-unlock                        { background-position: -70px -190px; }
.icon-small-update                        { background-position: -90px -190px; }
.icon-small-user                          { background-position: -110px -190px; }
.icon-small-user-icon                     { background-position: -130px -190px; }
.icon-small-user-icon-girl                { background-position: -150px -190px; }
.icon-small-users                         { background-position: -170px -190px; }
.icon-small-users-icon                    { background-position: -190px -190px; }
.icon-small-video                         { background-position: -210px -190px; }
.icon-small-volume                        { background-position: -230px -190px; }
.icon-small-volume-off                    { background-position: -250px -190px; }
.icon-small-volume-off-circle             { background-position: -270px -190px; }
.icon-small-volume-on-circle              { background-position: -290px -190px; }
.icon-small-wallet                        { background-position: -310px -190px; }
.icon-small-web-camera                    { background-position: -330px -190px; }
.icon-small-window                        { background-position: -350px -190px; }
.icon-small-zoom-in                       { background-position: -370px -190px; }
.icon-small-zoom-out                      { background-position: -390px -190px; }