@font-face{ 
	font-family: 'chadcons';
	src: url('/assets/fonts/websymbols-regular-webfont.eot');
	src: url('/assets/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/fonts/websymbols-regular-webfont.woff') format('woff'),
	     url('/assets/fonts/websymbols-regular-webfont.ttf') format('truetype'),
	     url('/assets/fonts/websymbols-regular-webfont.svg#chadcons') format('svg');
}
.glyph {
	font-family: 'chadcons';
}
body {
	padding-top: 57px;  /* Make the container go all the way to the bottom of the topbar */
	font-size:14px;
}
a:hover {
	text-decoration:none;
}
p {
	font-size:14px;
	line-height: 20px;
	margin-bottom:16px;
}
.navbar {
	border-bottom:2px solid #276A75;
	-webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 8px 10px rgba(0, 0, 0, 0.2);
	box-shadow:0 10px 8px rgba(0, 0, 0, 0.2);
}
.navbar .brand {
	padding-bottom:0;
}
.navbar .nav li {
	margin-top:12px;
	font-size:14px;
	margin-right:5px;
}
.navbar .nav .top {
	display:none;
}
.navbar .nav li a {
	padding:5px 10px 6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid transparent;
}
.navbar .nav li a:hover {
	border:1px solid #000;
	color:#A9D5D8;
	border-top:1px solid #00455B;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.navbar .nav .active a {
	border:1px solid #00455B;
	border-top:1px solid #000;
}
.navbar .nav .active a:hover {
	border:1px solid #00455B;
	border-top:1px solid #000;
}
#banner {
	color:#fff;
	padding:40px 0 0;
	background: #276a75; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #276a75), color-stop(100%, #00455b)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#276a75', endColorstr='#00455b', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow:inset 0 -10px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:inset 0 -10px 10px rgba(0, 0, 0, 0.2);
	box-shadow:inset 0 -10px 10px rgba(0, 0, 0, 0.2);
}
#banner .container h1{ 
  color: white;
	text-shadow: 0 3px rgba(0, 0, 0, 0.3);
  font-size: 42px;
  padding: 15px 20px 15px;
  position: relative;
  left: 100px;
}
#banner .container h2{ 
  color: white;
  font-size: 21px;
  line-height: 24px;
  padding: 0px 20px 15px;
  position: relative;
  left: 120px;
}
#banner .container .btn { 
	font-size:28px;
	padding:20px 20px 10px; 
	position:relative;
	top:20px;
	left:120px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#banner .container .btn img{
	margin-top:10px;
}
#banner .container {
	background:url(/assets/img/header1.png) no-repeat center bottom;
	height:320px;	
}
.container {
	width:940px;
}
h1.heading {
	font-family: 'Lusitana', serif;
	letter-spacing:-.05em;
	font-size:40px;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
h2 {
	font-weight:normal;
}
h3 {
	font-size:24px;
	font-weight:normal;
	line-height:28px;
	margin-bottom:8px;
}
h4 {
	font-size:16px;
	font-weight:normal;
	line-height:22px;
}
#features .spacer {
	height:80px;
	}
#features .nav {
	position:relative;
	top:5px;
	font-size:16px;
}
#features .nav a {
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
#features .nav a:hover {
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
	background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
#features .nav .active a:hover {
	background-color:#00455B;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	background-image:none;
}
#features .tab-content {
	margin-top:10px;
}
#features .tab-content h3 {
	color:#81A80E;
}
#features .tab-content .image1, #features .tab-content .image2, #features .tab-content .image3 {
	-webkit-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
	box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height:390px;
}
#features .tab-content .image1 {
	background:url(/assets/img/scrnsht1.jpg) no-repeat center;
}
#features .tab-content .image2 {
	background:url(/assets/img/scrnsht2.jpg) no-repeat center;
}
#features .tab-content .image3 {
	background:url(/assets/img/scrnsht3.jpg) no-repeat center;
}
#what {
	padding-top:160px;
	background:url(/assets/img/bg_spiral.png) no-repeat center -75px;
}
#what .heading {
	text-align:center;
}
#what h3 {
	text-align:center;
	border-bottom:1px solid #ccc;
	margin-top:20px;
	padding-bottom:5px;
}
#what ul li {
	font-size:18px;
	color:#333;
	margin:20px 0 0 20px;
}
#what .free h3 {
	color:#520D86;
}
#what .pro h3 {
	color:#81A80E;
}
#what .link {
	font-size:18px;
	text-align:center;
	margin-top:40px;
}
#what .link a {
	margin-right:5px;
	color:#21808F !important;
}
#about .heading {
	padding-top:160px;
	position:relative;
	z-index:2;
}
#about .company {
	background:url(/assets/img/cityscape.png) no-repeat right top;
	padding-top:160px;
}
#about {
	font-size:16px;
}
#about .made-in {
	position:relative;
	z-index:1;
	top:-50px;
	left:-50px;
	min-height:294px;
	min-width:294px;
	height:294px;
	width:294px;
}
#about .team .hiring {
	width:200px;
}
#about .team .emp {
	width:80px;
	height:82px;
	background:url(/assets/img/emp_arrow.png) no-repeat bottom center;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.1s ease;
	-ms-transition: 0.1s ease;
	-o-transition: 0.1s ease;
	transition: 0.1s ease;
}
#about .team .emp img {
	border-bottom:2px solid #fff;
}
#about .team .emp:hover {
	width:80px;
	height:92px;
	background:url(/assets/img/emp_arrow.png) no-repeat bottom center #276A75;
}
#about .team .emp.active {
	height:92px;
}
#about .team .emp.adam {
	background-color:#5699DA;
}
#about .team .emp.chad {
	background-color:#9376D8;
}
#about .team .emp.graham {
	background-color:#D98E5B;
}
#about .team .emp.ned {
	background-color:#C4D33E;
}
#about .team .emp.eric {
	background-color:#276A75;
}
#about h4 {
	font-size:18px;
	font-weight:normal;
	line-height:24px;
}
#about .adam h4 {
	color:#5699DA;
}
#about .chad h4 {
	color:#9376D8;
}
#about .graham h4 {
	color:#D98E5B;
}
#about .ned h4 {
	color:#C4D33E;
}
#about .eric h4 {
	color:#276A75;
}
#about .description {
	margin-top:10px;
	color:#808080;
	font-size:14px;
}
#about .description .tab-pane {
	display: none;
}
#about .description .tab-pane.active {
	display: block;
}
#about .description small {
	font-size:14px;
	color:#bfbfbf;
	text-transform:uppercase;
	margin-left:8px;
}
#about .description .glyph a {
	font-size:14px;
	margin-left:8px;
	color:#bfbfbf;
	-webkit-transition: 0.1s ease;
	-moz-transition: 0.1s ease;
	-ms-transition: 0.1s ease;
	-o-transition: 0.1s ease;
	transition: 0.1s ease;
	position:relative;
}
#about .description .glyph a:hover {
	color:inherit;
	top:-3px;
}
#press {
	padding-top:140px;
}
#press .heading {
	text-align:center;
	margin-bottom:20px;
	background:url(/assets/img/press_banner.png) no-repeat center;
	padding:23px 0 27px;
}
#press .clip {
	margin-bottom:20px;
	color:#808080;
}

#press .more {
	padding-top:20px;
}
#press .more .link {
	font-size:16px;
	text-align:center;
	padding-top:4px;
}
#press .more .link a, #what .link a {
	padding:5px 8px;
	border:1px dotted #81A80E;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#808080;
	-webkit-transition: 0.1s ease;
	-moz-transition: 0.1s ease;
	-ms-transition: 0.1s ease;
	-o-transition: 0.1s ease;
	transition: 0.1s ease;
	background-color:#fff;
}
#press .more .link a:hover,  #what .link a:hover {
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
	background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
#press .more .link a span {
	color:#21808F;
}
#contact {
	margin-top:160px;
	background:url(/assets/img/mail_rightswoop.png) no-repeat center right;
}
#contact .heading {
	text-align:center;
	margin:10px 0 30px;
}
#contact .left {
	width:290px;
	margin:0 0 19px 0;
	padding:0 30px 0 160px;
	border-right:1px dotted #C4D33E;
	float:left;
	background:url(/assets/img/mail_leftswoop.png) no-repeat 0 78px;
}
#contact .right {
	width:290px;
	margin-left:30px;
	float:left;
	color:#808080;
}
#contact .top {
	height:25px;
	background:url(/assets/img/contact_top.png) no-repeat center bottom;
}
#contact .center {
	background:url(/img/contact_sides.png) repeat-y center top;
}
#contact .bottom {
	height:27px;
	background:url(/img/contact_bot.png) no-repeat center top;
}
#contact .form-horizontal .control-label {
	width:50px;
}
#contact .form-horizontal .controls {
	margin-left:70px;
}
#contact input {
	width:210px;
}
#contact textarea {
	width:280px;
	height:130px;
}
#contact .form-action {
	margin-top:18px;
	color:#808080;
}
#contact .form-action .btn {
	float:right;
}
#contact .form-action .btn span {
	font-size:10px;
	position: relative;
	top: -2px;
}
#contact form{
	margin:0;
}
label, input, button, select, textarea { font-size:14px; }
#contact .right h4 {
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
}
#contact .mapstamp {
	float:right;
	position:relative;
	border:1px dotted #276A75;
	position:relative;
	top:-60px;
}

.QapTcha {
	float: left;
	width: 252px;
	margin-top: 20px;
}

.QapTcha .bgSlider {
    background-color: #F5F5F5;
    border: 1px solid #DCD6CC;
    box-shadow: 1px 1px 2px #A89A86;
    float: left;
    height: 37px;
    width: 252px;
}
.QapTcha .Slider {
    background: url(/assets/img/slide-arrow.png) no-repeat scroll transparent;
    cursor: e-resize;
    height: 37px;
    width: 52px;
}
.QapTcha .TxtStatus {
    clear: both;
    color: #BB2828;
    font-family: Verdana;
    font-size: 10px;
    margin-top: 7px;
    text-align: left;
    width: 252px;
}
.QapTcha .dropSuccess {
    color: #4E8B37;
}
.QapTcha .dropError {
    color: #BB2828;
}


/*///////// SUB PAGES /////////*/

.sub-page {
	background:url(/assets/img/bg_quartertwirl.png) no-repeat 0px 57px;
}
.sub-page .title {
	margin-top:60px;
	margin-bottom:60px;
}
.pager a {
	border:1px dotted #276A75;
	margin-top:4px;
}
.article h2 {
	color:#81A80E;
}
.article .subtitle {
	color:#808080;
	font-style:italic;
	margin-bottom:20px;
	font-size:16px;
}
.side-box .box {
	padding:17px 20px 20px;
	border:1px dotted #276A75;
	color:#808080;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.side-box .box2 {
	padding:17px 20px 20px;
	border:1px dotted #81A80E;
	color:#808080;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:20px;
}

/*///////// PRESS /////////*/

.featured .entry {
	padding:15px 0;
}
.featured .entry h4 {
	font-size:18px;
}
.featured .entry .date {
	color:#808080;
	margin:4px 0;
}
.featured .entry .quote {
	font-style:italic;
}

/*///////// JOBS /////////*/

#jobs .job { 
	border:1px solid #ddd;
	padding:10px 15px 0px;
	margin-bottom:20px;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
#jobs .job:hover { 
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#job form textarea {
	width:325px;
	height:100px;
}

/*///////// THANKS /////////*/

#thanks .article { margin-bottom:400px;}

/*///////// PRIVACY /////////*/

#privacy .side-nav li {
	margin-bottom:10px;
}

/*///////// FOOTER /////////*/

.footer.well {
	margin:100px 0 0 0;
}
.signin {
	margin-top:8px;
	float:right;
}
.footer .sitemap {
	margin-left:0;
	list-style:none;
	position:relative;
	top:-5px;
}
.footer .sitemap li {
	display:inline;
	margin-right:10px;
}
.footer .sitemap .glyph {
	margin-right:5px;
}
.footer li.follow {
	margin-top:10px;
	display:block;
}
.footer .follow, .footer .follow .glyph a {
	color:#808080;
	position:relative;
	-webkit-transition: 0.1s ease;
	-moz-transition: 0.1s ease;
	-ms-transition: 0.1s ease;
	-o-transition: 0.1s ease;
	transition: 0.1s ease;
}
.footer .follow .one {
	margin-left:5px;
}
.footer .follow .glyph a:hover {
	color:#21808F;
	top:-3px;
}

/* White label landing */

.centered {
	text-align: center;
}

.white-label-header {
	padding: 70px 0 10px 0;
}

h1.label-heading {
	font-family: 'Lusitana', serif;
	font-size: 38px;
	font-weight: normal;
}

h2.label-heading {
	font-family: 'Lusitana', serif;
	font-size: 32px;
	font-weight: normal;
}

.btn-learn {
	display: block;
	position: relative;
	top: 50px;
	margin: 0 auto;
	width: 225px;
	padding: 11px 15px 7px;
	font-size: 23px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-learn img{
	margin-top: 10px;
}

.branded-screenshot {
	display: block;
	margin: 80px auto 0 auto;
}

.white-label-logos {
	padding: 20px 0 10px 10px;
	margin: 10px 0 0 0;
}

.white-label-logos h2 {
	margin: 0 0 15px 0;
}

.modal-header .label-heading {
	padding: 15px 0;
}

.modal .asterisk {
	color: #D20061;
}

.modal .mce_inline_error[generated="true"] {
	display: none !important;
}