<nav class="top-bar">
  <ul class="title-area">
    <li>
      <h1>
        <a href="/" title="Activecell: The small business management platform">
          <img src="/images/logo.png" alt="Activecell: The small business management platform">
        </a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>    
  <section class="top-bar-section">
    <ul class="left">
      <li class=""><a href="#features">Features</a></li>
      <li class=""><a href="#pricing">Pricing</a></li>
      <li><a href="#experts">Experts</a></li>
    </ul>
    <ul class="right">
      <li>
        <div class="button-group round">
          <a href="https://launchpad.activecell.com/users/sign_up" class="small button success">Get started</a>
          <a href="https://launchpad.activecell.com/users/sign_in" class="small button">or Sign in</a>
        </div>
      </li>
    </ul>
  </section>
</nav><!-- end .top-bar -->