#advisors {
  margin-top: 120px;
  margin-bottom: 180px;
}

#advisors .container {
  position: relative;
  min-height: 465px;
  border-bottom: 1px solid #eee;
}

#advisors h3 {
  font-weight: normal;
  margin-bottom: 35px;
}

#advisors .heading {
  margin-right: 20px;
}

#advisors .advisor-block-photo {
  position: absolute;
  right: 25px;
  bottom: -4px;
  width: 290px;
}

#advisors blockquote {
  width: 900px;
  margin: 40px 0 0 0;
  padding: 15px 20px;
  background: #eee;
  border-radius: 5px;
  border-left: none;
  box-shadow: inset 0 0 15px rgba(0,0,0,0.12);
}


#advisors blockquote span {
  display: block;
  width: 540px;
}

#advisors blockquote small {
  padding-top: 10px;
}

#advisors .link {
  position: relative;
  top: 70px;
}

.scrn-block {
    background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/scrnsht1.png') no-repeat center;
    -webkit-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  width: 620px;
  height: 390px;
  overflow: hidden;
}

.contact-form {
  padding-bottom: 15px;
}

.contact-form legend {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

.contact-form .control-group {
  margin-bottom: 0;
}

.contact-form label {
  margin-bottom: 3px;
  font-size: 12px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

.btn-block {
  display: block;
  width: 100%;
}

.advisor-label-logos {
  width: 900px;
  height: 70px;
  margin: 0 0 0 8px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.advisor-label-logos img {
  width: 920px !important;
  max-width: none;
  margin-left: -5px;
}

.advisor-block {
  position: relative;
  margin: 60px 0;
  min-height: 380px;
  border-bottom: 1px solid #aaa;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
}

.advisor-block h3 {
  padding: 40px 0 20px 0;
  font-weight: normal;
  color: #81A80E;
}

.advisor-block .left-col {
  float: left;
  width: 520px;
  padding-left: 10px;
}

.advisor-block .right-col {
  float: right;
  width: 520px;
  padding-right: 10px;
}

.advisor-block .left-col blockquote {
  margin: 40px 0 45px -10px;
  padding: 25px 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  width: 855px;
}

.advisor-block .left-col blockquote span.quote {
  display: block;
  width: 485px;
  line-height: 1.5;
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 10px;
}

.advisor-block .left-col blockquote span.credit {
  color: #30878F;
  font-weight: bold;
}

.advisor-block .right-col blockquote {
  margin: 40px 0 45px -372px;
  padding: 25px 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  width: 862px;
}

.advisor-block .right-col blockquote span.quote {
  display: block;
  width: 485px;
  margin-left: 350px;
  line-height: 1.5;
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 10px;

}

.advisor-block .right-col blockquote span.credit {
    color: #30878F;
    font-weight: bold;
  margin-left: 350px;
}

.advisor-block .advisor-block-photo {
  position: absolute;
  right: 25px;
  bottom: -4px;
  width: 350px;
}

.advisor-block .advisor-block-photo.right {
  right: auto;
  left: 6px;
}