#features {
  padding: 40px 0;
}

#features .tab-content {
  margin-top:10px;
}

#features .tab-content .image1,
#features .tab-content .image2,
#features .tab-content .image3,
#features .tab-content .image4,
#features .tab-content .image5 {
  -webkit-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
  height:500px;
}

#features .tab-content .image1 {
  background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/scrnsht1.png') no-repeat center;
}

#features .tab-content .image2 {
  background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/scrnsht2.png') no-repeat center;
}

#features .tab-content .image3 {
  background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/scrnsht3.png') no-repeat center;
}

#features .tab-content .image4 {
  background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/scrnsht4.png') no-repeat center;
}

#features .tab-content .image5 {
  background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/scrnsht5.png') no-repeat center;
}