@font-face {
  font-family: 'Lusitana';
  font-style: normal;
  font-weight: bold;
  src: local('Lusitana Bold'), local('Lusitana-Bold'), url('http://themes.googleusercontent.com/static/fonts/lusitana/v1/oCjlVB3OWc0D00Ervq8JG7rIa-7acMAeDBVuclsi6Gc.woff') format('woff');
}

@font-face{
  font-family: 'chadcons';
  src: url('http://d2n39uym85fey2.cloudfront.net/assets/fonts/websymbols-regular-webfont.eot');
  src: url('http://d2n39uym85fey2.cloudfront.net/assets/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://d2n39uym85fey2.cloudfront.net/assets/fonts/websymbols-regular-webfont.woff') format('woff'),
       url('http://d2n39uym85fey2.cloudfront.net/assets/fonts/websymbols-regular-webfont.ttf') format('truetype'),
       url('http://d2n39uym85fey2.cloudfront.net/assets/fonts/websymbols-regular-webfont.svg#chadcons') format('svg');
}
.glyph {
  font-family: 'chadcons';
}
body {
  font-family: "proxima-nova", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 55px;  /* Make the container go all the way to the bottom of the topbar */
  font-size:14px;
  background-color: white;
  color: #675B5E;
}
a:hover {
  text-decoration:none;
}
p {
  font-family: "proxima-nova", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height: 135%;
  margin-bottom:16px;
}
.container {
  width:940px;
}
.container.relative {
  position: relative;
  z-index: 1000;
}
h1, h2, h3 {
  font-family: "arno-pro", 'Lusitana', serif;
  font-weight: normal;
  margin-bottom: 1em;
}
h1 {
  font-size:42px;
}
h1.small {
  font-size: 32px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size:30px;
  margin-bottom:8px;
}
h4 {
  font-size:20px;
  margin-bottom:8px;
}
label, input, button, select, textarea { font-size:14px; }

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.grey-bg {
  background-color: gray;
}

.on-top {
  border: none !important;
  background: white;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.21) !important;
  padding: 20px;

}

.on-top p {
  font-family: Garamond;
  font-size:22px;
}

.thumbnail .on-top {
  padding: 6px;
}

.thumbnail a:hover {
  border-color: #30878f;
}

.avatar140 {
  padding: 3px;
  background: white;
  border: 1px solid #EEE;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.21) !important;
  height: 140px;
  width: 140px;
}

/* what */

#what {
  padding-top:60px;
  background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/bg_spiral.png') no-repeat center -75px;
}

#what .heading {
  text-align:center;
  padding-bottom: 30px;
}

#what h3 {
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
  padding-bottom: 5px;
}

#what ul li {
  font-size: 18px;
  color: #333;
  margin: 20px 0 0 20px;
}

#what .free h3 {
  color:#520D86;
}

#what .pro h3 {
  color:#81A80E;
}

#what .link, #advisors .link{
  font-size:18px;
  text-align:center;
  margin-top:40px;
}

#what .link a, #pricing .link a, #advisors .link a {
  margin-right:5px;
  color:#21808F !important;
}


/* press */

#blog {
  padding-top:120px;
}
#blog .heading {
  text-align:center;
  margin-bottom:20px;
  background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/press_banner.png') no-repeat center;
  padding:40px 0 32px;
}
#blog .clip {
  margin-bottom:20px;
  color:#808080;
}

#blog .more, #experts .more {
  padding-top:20px;
}
#blog .more .link, #experts .more .link {
  font-size:16px;
  text-align:center;
  padding-top:4px;
}
.link a {
  padding:5px 8px;
  border:1px dotted #81A80E;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color:#808080;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
  background-color:#fff;
}
.more .link a:hover {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.more .link a span {
  color:#21808F;
}

/* contact */

#contact {
  margin-top:160px;
  background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/mail_rightswoop.png') no-repeat center right;
}
#contact .heading {
  text-align:center;
  margin:10px 0 30px;
}
#contact .left {
  width:290px;
  margin:0 0 19px 0;
  padding:0 30px 0 160px;
  border-right:1px dotted #C4D33E;
  float:left;
  background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/mail_leftswoop.png') no-repeat 0 78px;
}
#contact .right {
  width:290px;
  margin-left:30px;
  float:left;
  color:#808080;
}
#contact .top {
  height:25px;
  background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/contact_top.png') no-repeat center bottom;
}
#contact .center {
  background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/contact_sides.png') repeat-y center top;
}
#contact .bottom {
  height:27px;
  background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/contact_bot.png') no-repeat center top;
}
#contact .form-horizontal .control-label {
  width:50px;
}
#contact .form-horizontal .controls {
  margin-left:70px;
}
#contact input {
  width:210px;
}
#contact textarea {
  width:280px;
  height:130px;
}
#contact .form-action {
  margin-top:18px;
  color:#808080;
}
#contact .form-action .btn {
  float:right;
}
#contact .form-action .btn span {
  font-size:10px;
  position: relative;
  top: -2px;
}
#contact form{
  margin:0;
}
#contact .right h4 {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}
#contact .mapstamp {
  float:right;
  position:relative;
  border:1px dotted #276A75;
  position:relative;
  top:-60px;
}
.QapTcha {
  float: left;
  width: 252px;
  margin-top: 20px;
}

.QapTcha .bgSlider {
    background-color: #F5F5F5;
    border: 1px solid #DCD6CC;
    box-shadow: 1px 1px 2px #A89A86;
    float: left;
    height: 37px;
    width: 252px;
}
.QapTcha .Slider {
    background: url('http://d2n39uym85fey2.cloudfront.net/assets/img/slide-arrow.png') no-repeat scroll transparent;
    cursor: e-resize;
    height: 37px;
    width: 52px;
}
.QapTcha .TxtStatus {
    clear: both;
    color: #BB2828;
    font-family: Verdana;
    font-size: 10px;
    margin-top: 7px;
    text-align: left;
    width: 252px;
}
.QapTcha .dropSuccess {
    color: #4E8B37;
}
.QapTcha .dropError {
    color: #BB2828;
}

/*///////// SUB PAGES /////////*/

.sub-page {
  background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/bg_quartertwirl.png') no-repeat 0px 57px;
}
.sub-page .title {
  margin-top:60px;
  margin-bottom:60px;
}
.pager a {
  border:1px dotted #276A75;
  margin-top:4px;
}
.article h2 {
  color:#81A80E;
}
.article .subtitle {
  color:#808080;
  font-style:italic;
  margin-bottom:20px;
  font-size:16px;
}
.side-box .box {
  padding:17px 20px 20px;
  border:1px dotted #276A75;
  color:#808080;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.side-box .box2 {
  padding:17px 20px 20px;
  border:1px dotted #81A80E;
  color:#808080;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top:20px;
}

/*///////// PRESS /////////*/

.featured .entry {
  padding:15px 0;
}
.featured .entry h4 {
  font-size:18px;
}
.featured .entry .date {
  color:#808080;
  margin:4px 0;
}
.featured .entry .quote {
  font-style:italic;
}

/*///////// JOBS /////////*/

#jobs .job {
  border:1px solid #ddd;
  padding:10px 15px 0px;
  margin-bottom:20px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
#jobs .job:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#job form textarea {
  width:325px;
  height:100px;
}

/*///////// THANKS /////////*/

#thanks .article { margin-bottom:400px;}

/*///////// PRIVACY /////////*/
#privacy {
  margin-top: 30px;
}
#privacy .side-nav li {
  margin-bottom:10px;
}

/*///////// LANDING PAGE /////////*/

html {
  min-height: 100%;
}

#landing-page {
  height: 100%;
  color:#fff;
  padding: 0 !important;
  background: #276a75; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #276a75), color-stop(100%, #00455b)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#276a75', endColorstr='#00455b', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.landing-header {
  padding: 40px 0 0 0;
  text-align: center;
}

.landing-header h1 {
  margin: 10px 0 0 0;
  color: #D6E5E7;
  font-size: 54px;
  font-weight: normal;
}

.landing-nav {
  margin: 70px 0 0 0;
}

.landing-nav section header {
  width: 265px;
  height: 265px;
  background: #fff url('http://d2n39uym85fey2.cloudfront.net/assets/img/sprite_btn_landing.png');
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.landing-nav .btn-link {
  display: block;
  width: 265px;
  height: 265px;
}

.landing-nav .btn-link span {
  display: block;
  margin: 0 15px;
  padding: 20px 0 15px 0;
  color: #0A5F71;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #0A5F71;
}

.landing-nav footer {
  margin: 20px 0 0 0;
  padding: 0 0 0 20px;
  color: #D6E5E7;
  font-size: 13px;
  border-left: 1px solid #D6E5E7;
}

.dashboard-client header {
  background-position: -265px 0 !important;
}

/* White label landing */

.centered {
  text-align: center;
}

.modal-header .label-heading {
  padding: 15px 0;
  margin-bottom: 6px;
}

.modal .asterisk {
  color: #D20061;
}

.modal .mce_inline_error[generated="true"] {
  display: none !important;
}

.opt-box {
  min-height: 180px;
  margin: 50px 0 0 0;
  padding: 10px 15px 10px 10px;
  background: rgba(0,0,0,0.03);
  border-radius: 3px;
  box-shadow: inset -1px -1px 0 rgba(255,255,255,0.3);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
}

.opt-box h4 {
  color: #111;
  height: 50px;
  font-weight: bold;
}

/* inner pages */


.block-wrapper {
  padding: 0 20px;
}

.block-wrapper.heading {
  margin-top: -18px;
  padding: 20px 20px 0 20px;
  border-radius: 10px 10px 0 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
}

.block-wrapper.heading h1 {
  padding: 0;
}

.outlined {
  border: 1px solid #e2e2e2;
}

.filter-block {
  margin: 20px;
}

.card {
  margin: 15px 0;
}

.card .description {
  width: 275px;
  margin-left: 15px;
}

.card .description h4 {
  margin-bottom: 10px;
}

.card .description span {
  font-size: 12px;
}

.desc-item {
  display: inline-block;
  padding: 0 0 7px 0;
}

.desc-item strong {
  display: inline-block;
  width: 150px;
  padding-right: 8px;
}

.details {
  padding: 15px 0 20px 0;
}

.details .muted {
  font-size: 12px;
}

.recent-posts {
  margin: 0;
  padding: 10px 0 20px 0;
  list-style: none;
}

.recent-posts li {
  padding: 10px 0;
  border-top: 1px dotted #e2e2e2;
}

.recent-posts h4 {
  font-size: 15px;
}

.recent-posts p {
  font-size: 12px;
  padding: 5px 0 0 0;
  margin: 0;
}

.location-map {
  padding: 40px 0;
  text-align: center;
}

.tags {
  margin: 0;
  list-style: none;
}

.tags li {
  margin: 0 0 5px 0;
}

.tags a {
  display: block;
  position: relative;
  padding: 3px 10px;
  font-size: 12px;
  background: #e2e2e2;
  border-radius: 3px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
  z-index: 10;
}

.share-panel {
  background: #e2e2e2;
  padding: 6px 10px;
  border-radius: 3px;
}

.share-panel .addthis_toolbox {
  float: right;
}

.reviews-block {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px dotted #e2e2e2;
}

.reviews-list {
  margin: 0;
  padding: 5px 0 20px 0;
  list-style: none;
}

.reviews-list li {
  padding: 15px 0;
  border-bottom: 1px dotted #e2e2e2;
}

.reviews-list .review-meta {
  padding: 5px 0;
  font-size: 11px;
  color: #555;
}

.reviews-list p {
  margin: 0;
  padding: 10px 0;
  font-size: 12px;
}

.reviews-list .review-rating {
  display: inline-block;
  padding: 3px 7px;
  font-size: 12px;
  background: #e2e2e2;
  border-radius: 3px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
}

.team-name {
  display: block;
  padding: 8px 0 6px 0;
  font-size: 12px;
}

.team-title {
  display: block;
  padding: 0 0 5px 0;
  font-size: 11px;
}

/* founder profile */

.profile {
  color: #30878F;
}
.profile .glyph a {
  font-size:14px;
  margin-left:8px;
  color:#bfbfbf;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
  position:relative;
}
.profile .glyph a:hover {
  color:inherit;
  top:-3px;
}

/* team */

.thumbnail .on-top img {
  height: 110px;
  width: 110px;
}

/* made in nyc */

.nyc-stamp {
  margin: 0px 20px 20px 20px;
  float: left;
}
.inset-map {
  width: 600px;
  height: 603px;
  background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/activecell-map.png') no-repeat center;
  -webkit-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.inset-freedom-tower {
  width: 600px;
  height: 600px;
  background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/freedom-tower-ap-nyc.jpg') no-repeat center;
  -webkit-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.show-some-love {
  background: #e7e7e7;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 4px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
}

/* press */

.logo-spacing {
  padding: 10px;
}
.logo-spacing img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.dark-well {
  border-radius: 4px;
  background-color: #052633;
  background-image: -moz-linear-gradient(top, #073648, #041b25);
  background-image: -ms-linear-gradient(top, #073648, #041b25);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#073648), to(#041b25));
  background-image: -webkit-linear-gradient(top, #073648, #041b25);
  background-image: -o-linear-gradient(top, #073648, #041b25);
  background-image: linear-gradient(top, #073648, #041b25);
}

.blog-preview {
  margin: 0;
  padding: 0 0 10px 0;
  list-style: none;
}

.blog-preview > li {
  margin: 30px 0 10px 0;
  padding: 0 0 30px 0;
  border-bottom: 1px dotted #ddd;
}

.blog-preview .post-date {
  float: left;
  width: 60px;
  height: 60px;
  background: #eee;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3),
      0 0 4px rgba(0,0,0,0.1);
}

.blog-preview .post-date .day {
  display: inline-block;
  padding: 11px 0 5px 0;
  font-size: 30px;
}

.blog-preview .post-date .month {
  font-size: 11px;
}

.blog-preview .post-content {
  float: left;
  width: 840px;
  margin: -4px 0 0 30px;
}

.blog-preview .post-content h3 {
  font-weight: normal;
  font-size: 18px;
}

.blog-preview .tags li {
  float: left;
  margin: 0 10px 0 0;
}

.blog-preview .tags a {
  margin-right: 5px;
  padding: 1px 9px;
  color: #fff;
  background-color: #21808F;
  text-shadow: none;
}

.blog-preview .tags li a:hover {
  opacity: 0.8;
}

.blog-preview .tags a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 8px;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 10px;
}

.blog-preview .tags a:after {
  content: "";
  display: block;
  position: absolute;
  left: -6px;
  top: 2px;
  width: 15px;
  height: 15px;
  background: inherit;
  border-radius: 3px;
  z-index: -1;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.blog-item {
  margin: 0 0 40px 0;
}

.blog-item .header-wrapper {
  margin: 0 0 10px 0;
  padding-left: 15px;
}

.blog-item .post-avatar {
  width: 100px;
  height: 80px;
  float: left;
}

.blog-item .post-heading {
  /*float: left;*/
}

.blog-item .post-heading h3,
.blog-item .post-heading h5 {
  font-weight: normal;
  color: gray;
}

.blog-item .post-content {
  float: left;
  width: 370px;
  padding-right: 10px;
}

.blog-item .post-sidebar {
  float: left;
  width: 150px;
  padding-left: 10px;
  border-left: 1px solid #eee;
}

.blog-item .post-sidebar .comments {
  display: block;
  margin: 0 0 10px 0;
}

.blog-item .post-sidebar .social-bookmarks {
  position: relative;
  z-index: 1000;
  margin: 20px 0;
}

.blog-item .post-sidebar .social-bookmarks .fb_iframe_widget_lift {
  z-index: 1001 !important;
}

.avatar-grid {
  margin: 0;
  padding: 15px 0;
}

.avatar-grid li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
}

.blog-item .comments-form {
  clear: both;
  padding: 20px 0 0 0;
}

.comments-list {
  margin: 50px 0 20px 0;
  padding: 0;
  list-style: none;
}

.comments-list li {
  margin: 0 0 10px 0;
  padding: 10px 0 10px 0;
  border-bottom: 1px dotted #eee;
}

.comments-list .comment-author,
.comments-list .comment-date  {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px 5px 0;
}


/* bg colors */

.bg-orange {
  background-color: #D39A42 !important;
}

.bg-black {
  background-color: #231F20 !important;
}

.bg-gray {
  background-color: #5A5B5B !important;
}

.bg-blue {
  background-color: #21808F !important;
}

.bg-green {
  background-color: #8ac16f !important;
}

.bg-red {
  background-color: #dc6e59 !important;
}
