@font-face {
  font-family: 'Lusitana';
  font-style: normal;
  font-weight: bold;
  src: local('Lusitana Bold'), local('Lusitana-Bold'), url('http://themes.googleusercontent.com/static/fonts/lusitana/v1/oCjlVB3OWc0D00Ervq8JG7rIa-7acMAeDBVuclsi6Gc.woff') format('woff');
}

@font-face{ 
	font-family: 'chadcons';
	src: url('http://d2n39uym85fey2.cloudfront.net/assets/fonts/websymbols-regular-webfont.eot');
	src: url('http://d2n39uym85fey2.cloudfront.net/assets/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('http://d2n39uym85fey2.cloudfront.net/assets/fonts/websymbols-regular-webfont.woff') format('woff'),
	     url('http://d2n39uym85fey2.cloudfront.net/assets/fonts/websymbols-regular-webfont.ttf') format('truetype'),
	     url('http://d2n39uym85fey2.cloudfront.net/assets/fonts/websymbols-regular-webfont.svg#chadcons') format('svg');
}
.glyph {
	font-family: 'chadcons';
}
body {
	padding-top: 55px;  /* Make the container go all the way to the bottom of the topbar */
	font-size:14px;
	background-color: white;
	color: #675B5E;
}
a:hover {
	text-decoration:none;
}
p {
	font-size:14px;
	line-height: 20px;
	margin-bottom:16px;
}
.container {
  position: relative;
  z-index: 1001;
	width:940px;
}
h1, h2 {
	font-family: 'Lusitana', serif;
  font-weight: normal;  
  margin-bottom: 12px;
}
h1 {
	font-size:38px;
}
h1.small {
	font-size: 32px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size:24px;
	margin-bottom:8px;
}
h4 {
	font-size:16px;
	margin-bottom:8px;
}
label, input, button, select, textarea { font-size:14px; }

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.grey-bg {
	background-color: gray;
}

.on-top {
  border: none !important;
  background: white;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.21) !important;
  padding: 15px;
}

.thumbnail .on-top {
  padding: 6px;
}

.thumbnail a:hover {
  border-color: #30878f;
}

.avatar140 {
  padding: 3px;
  background: white;
  border: 1px solid #EEE;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.21) !important;  
  height: 140px;
  width: 140px;
}

/* buttons */
.btn-primary {
  background-color: #2a787f;
  background-image: -moz-linear-gradient(top, #30878f 0%, #236369 99%);
  background-image: -ms-linear-gradient(top, #30878f, #236369);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#30878f), to(#236369));
  background-image: -webkit-linear-gradient(top, #30878f, #236369);
  background-image: -o-linear-gradient(top, #30878f, #236369);
  background-image: linear-gradient(top, #30878f, #236369);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF30878F', endColorstr='#FF236369', GradientType=0);
  border-color: #236369 #236369 #102d30;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  *background-color: #236369;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #236369;
  *background-color: #1d5156;
}
.btn-primary:active, .btn-primary.active {
  background-color: #163f43 \9;
}
.btn-success {
  background-color: #7eba61;
  background-image: -moz-linear-gradient(top, #8ac16f 0%, #6db14c 99%);
  background-image: -ms-linear-gradient(top, #8ac16f, #6db14c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8ac16f), to(#6db14c));
  background-image: -webkit-linear-gradient(top, #8ac16f, #6db14c);
  background-image: -o-linear-gradient(top, #8ac16f, #6db14c);
  background-image: linear-gradient(top, #8ac16f, #6db14c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8AC16F', endColorstr='#FF6DB14C', GradientType=0);
  border-color: #6db14c #6db14c #4c7b35;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  *background-color: #6db14c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  background-color: #6db14c;
  *background-color: #629f44;
}
.btn-success:active, .btn-success.active {
  background-color: #578d3d \9;
}

.btn-group .btn:hover {
	z-index: 0;
}


/* navbar */

.navbar {
	border-bottom:2px solid #276A75;
	-webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 8px 10px rgba(0, 0, 0, 0.2);
	box-shadow:0 10px 8px rgba(0, 0, 0, 0.2);
}
.navbar .brand {
	padding: 8px 16px 12px 0px;
}
.navbar .brand img {
	margin-top: 1px;
	margin-bottom: -8px;
}
.navbar .nav li {
	margin-top:16px;
	font-size:14px;
	margin-right:5px;
}
.navbar .nav .top {
	display:none;
}
.navbar .nav li a {
	padding:5px 10px 6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid transparent;
}
.navbar .nav li a:hover {
	border:1px solid #000;
	color:#A9D5D8;
	border-top:1px solid #00455B;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.navbar .nav .active a {
	border:1px solid #00455B;
	border-top:1px solid #000;
}
.navbar .nav .active a:hover {
	border:1px solid #00455B;
	border-top:1px solid #000;
}

.navbar .signin {
	margin-top:14px;
	float:right;
}

/* old banner */

#banner {
	color:#fff;
	padding:40px 0 0;
	background: #276a75; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #276a75), color-stop(100%, #00455b)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#276a75', endColorstr='#00455b', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow:inset 0 -10px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:inset 0 -10px 10px rgba(0, 0, 0, 0.2);
	box-shadow:inset 0 -10px 10px rgba(0, 0, 0, 0.2);
}
#banner .container h1{ 
  color: white;
	text-shadow: 0 3px rgba(0, 0, 0, 0.3);
  padding: 15px 20px 15px;
  position: relative;
  left: 100px;
}
#banner .container h2{ 
  color: white;
  line-height: 24px;
  padding: 0px 20px 15px;
  position: relative;
  left: 120px;
}
#banner .container .btn { 
	font-size:28px;
	padding:20px 20px 10px; 
	position:relative;
	top:20px;
	left:120px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#banner .container .btn img{
	margin-top:10px;
}
#banner .container {
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/header1.png') no-repeat center bottom;
	height:320px;	
}

/* features */

#features {
	padding-top:40px;
}

#features .spacer {
	height:80px;
	}
#features .nav {
	position:relative;
	top:5px;
	font-size:16px;
}
#features .nav a {
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
#features .nav a:hover {
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
	background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
#features .nav .active a:hover {
	background-color:#00455B;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	background-image:none;
}
#features .tab-content {
	margin-top:10px;
}
#features .tab-content h3 {
	color:#81A80E;
	font-weight: normal;
}
#features .tab-content .image1, 
#features .tab-content .image2, 
#features .tab-content .image3,
#features .tab-content .image4, 
#features .tab-content .image5 {
	-webkit-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
	box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height:390px;
}
#features .tab-content .image1 {
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/scrnsht1.png') no-repeat center;
}
#features .tab-content .image2 {
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/scrnsht2.png') no-repeat center;
}
#features .tab-content .image3 {
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/scrnsht3.png') no-repeat center;
}
#features .tab-content .image4 {
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/scrnsht4.png') no-repeat center;
}
#features .tab-content .image5 {
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/scrnsht5.png') no-repeat center;
}

/* pricing */

#pricing {
	padding-top:160px;
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/bg_spiral.png') no-repeat center -75px;
	text-align: center;
}
#pricing .subscribe-plan {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 20px 0px 20px 0px;
  min-height: 20px;
  padding: 19px;
}
#pricing .subscribe-plan   header {
  text-align: center;
  font-family: 'Lusitana', serif;
}
#pricing .subscribe-plan h1 {
  margin: 0;
  padding: 5px 0 0 0;
  font-size: 32px;
}
#pricing .subscribe-plan h2 {
  margin: 0;
  padding: 0;
  color: #7d7d7d;
  font-size: 22px;
  line-height: 1.3;
}
#pricing .subscribe-plan .price {
  position: relative;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.14);
  margin: 20px 0;
  padding: 25px 10px 15px 10px;
  text-align: center;
  background: white;
}
#pricing .subscribe-plan .price.old {
  margin-bottom: -30px;
  overflow: hidden;
}

#pricing .subscribe-plan .price.old:after {
  content: "";
  display: block;
  margin: auto;
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: red;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5;
  -moz-transform:rotate(25deg);  
  -webkit-transform:rotate(25deg);  
  -o-transform:rotate(25deg); 
}
#pricing .subscribe-plan .price .ribbon {
  display: block;
  position: absolute;
  right: -27px;
  top: 16px;
  height: 39px;
  min-width: 45px;
  max-width: 170px;
  padding: 0 10px;
  line-height: 32px;
  text-align: left;
  color: white;
  font-size: 17px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  background: url('http://d2n39uym85fey2.cloudfront.net/assets/img/sprite_air.png') right -170px no-repeat;
  font-weight: bold;
  text-transform: uppercase;
}
#pricing .subscribe-plan .price .ribbon a {
  color: white;
  font-size: 17px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  text-transform: uppercase;
}
#pricing .subscribe-plan .price .ribbon:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 39px;
  background: url('http://d2n39uym85fey2.cloudfront.net/assets/img/sprite_air.png') -100px -170px no-repeat;
}
#pricing .subscribe-plan .price .ribbon.green {
  background: url('http://d2n39uym85fey2.cloudfront.net/assets/img/sprite_air.png') right -210px no-repeat;
}
#pricing .subscribe-plan .price .ribbon.green:after {
  background: url('http://d2n39uym85fey2.cloudfront.net/assets/img/sprite_air.png') -100px -210px no-repeat;
}
#pricing .subscribe-plan .price .ribbon.red {
  background: url('http://d2n39uym85fey2.cloudfront.net/assets/img/sprite_air.png') right -250px no-repeat;
}
#pricing .subscribe-plan .price .ribbon.red:after {
  background: url('http://d2n39uym85fey2.cloudfront.net/assets/img/sprite_air.png') -100px -250px no-repeat;
}
#pricing .subscribe-plan .value {
  display: block;
  padding-right: 6px;
  font-family: 'Lusitana', serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.9);
}
#pricing .subscribe-plan small {
  /*position: relative;
  top: -15px;*/
  padding: 0 5px;
  font-size: 21px;
}
#pricing .subscribe-plan .time-period {
  display: block;
  padding-top: 6px;
  color: #7d7d7d;
  font-family: 'Lusitana', serif;
  font-size: 22px;
  line-height: 1.3;
}
#pricing .subscribe-plan .plan-items {
  margin: 20px;
  padding: 0;
  list-style: none;
}
#pricing .subscribe-plan .plan-items li {
  padding: 0 5px 7px 5px;
  margin-bottom: 7px;
  border-bottom: 1px solid white;
  font-size: 12px;
  text-align: left;
}
#pricing .subscribe-plan .plan-items li i {
  margin-right: 10px;
}
#pricing .subscribe-plan .plan-footer {
  padding: 0 25px 0px 25px;
  font-size: 13px;
  color: #828282;
  text-align: center;
}
#pricing .subscribe-plan .info-control {
  padding: 20px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
}

/* what */

#what {
	padding-top:60px;
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/bg_spiral.png') no-repeat center -75px;
}

#what .heading {
	text-align:center;
	padding-bottom: 30px;
}

#what h3 {
	font-weight: normal;
	border-bottom: 1px solid #ccc;
	margin-top: 20px;
	padding-bottom: 5px;
}

#what ul li {
	font-size: 18px;
	color: #333;
	margin: 20px 0 0 20px;
}

#what .free h3 {
	color:#520D86;
}

#what .pro h3 {
	color:#81A80E;
}

#what .link, #pricing .link, #advisors .link{
	font-size:18px;
	text-align:center;
	margin-top:40px;
}

#what .link a, #pricing .link a, #advisors .link a {
	margin-right:5px;
	color:#21808F !important;
}

/* about */

#experts .heading {
	padding-top:160px;
	position:relative;
	z-index:2;
}

#experts h3 {
  font-weight: normal;
}

#experts .company {
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/cityscape.png') no-repeat right top;
	padding-top:160px;
}
#experts {
	font-size:16px;
}
#experts .made-in {
	position:relative;
	z-index:1;
	top:-50px;
	left:-50px;
	min-height:294px;
	min-width:294px;
	height:294px;
	width:294px;
}
#experts .team .hiring {
	width:200px;
}
#experts .team .emp {
	width:80px;
	height:82px;
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/emp_arrow.png') no-repeat bottom center;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.1s ease;
	-ms-transition: 0.1s ease;
	-o-transition: 0.1s ease;
	transition: 0.1s ease;
}
#experts .team .emp img {
	border-bottom:2px solid #fff;
}
#experts .team .emp:hover {
	width:80px;
	height:92px;
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/emp_arrow.png') no-repeat bottom center #276A75;
}
#experts .team .emp.active {
	height:92px;
}
#experts .team .emp.adam {
	background-color:#5699DA;
}
#experts .team .emp.ean {
	background-color:#9376D8;
}
#experts .team .emp.robert {
	background-color:#D98E5B;
}
#experts .team .emp.diego {
	background-color:#C4D33E;
}
#experts .team .emp.jason {
	background-color:#276A75;
}
#experts h4 {
	font-size:18px;
	font-weight:normal;
	line-height:24px;
}
#experts .adam h4 {
	color:#5699DA;
}
#experts .ean h4 {
	color:#9376D8;
}
#experts .robert h4 {
	color:#D98E5B;
}
#experts .diego h4 {
	color:#C4D33E;
}
#experts .jason h4 {
	color:#276A75;
}
#experts .description {
	margin-top:10px;
	color:#808080;
	font-size:14px;
}
#experts .description .tab-pane {
	display: none;
}
#experts .description .tab-pane.active {
	display: block;
}
#experts .description small {
	font-size:14px;
	color:#bfbfbf;
	text-transform:uppercase;
	margin-left:8px;
}
#experts .description .glyph a {
	font-size:14px;
	margin-left:8px;
	color:#bfbfbf;
	-webkit-transition: 0.1s ease;
	-moz-transition: 0.1s ease;
	-ms-transition: 0.1s ease;
	-o-transition: 0.1s ease;
	transition: 0.1s ease;
	position:relative;
}
#experts .description .glyph a:hover {
	color:inherit;
	top:-3px;
}

/* press */

#blog {
	padding-top:120px;
}
#blog .heading {
	text-align:center;
	margin-bottom:20px;
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/press_banner.png') no-repeat center;
	padding:40px 0 32px;
}
#blog .clip {
	margin-bottom:20px;
	color:#808080;
}

#blog .more, #experts .more {
	padding-top:20px;
}
#blog .more .link, #experts .more .link {
	font-size:16px;
	text-align:center;
	padding-top:4px;
}
.link a {
	padding:5px 8px;
	border:1px dotted #81A80E;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#808080;
	-webkit-transition: 0.1s ease;
	-moz-transition: 0.1s ease;
	-ms-transition: 0.1s ease;
	-o-transition: 0.1s ease;
	transition: 0.1s ease;
	background-color:#fff;
}
.more .link a:hover {
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
	background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.more .link a span {
	color:#21808F;
}

/* contact */

#contact {
	margin-top:160px;
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/mail_rightswoop.png') no-repeat center right;
}
#contact .heading {
	text-align:center;
	margin:10px 0 30px;
}
#contact .left {
	width:290px;
	margin:0 0 19px 0;
	padding:0 30px 0 160px;
	border-right:1px dotted #C4D33E;
	float:left;
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/mail_leftswoop.png') no-repeat 0 78px;
}
#contact .right {
	width:290px;
	margin-left:30px;
	float:left;
	color:#808080;
}
#contact .top {
	height:25px;
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/contact_top.png') no-repeat center bottom;
}
#contact .center {
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/contact_sides.png') repeat-y center top;
}
#contact .bottom {
	height:27px;
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/contact_bot.png') no-repeat center top;
}
#contact .form-horizontal .control-label {
	width:50px;
}
#contact .form-horizontal .controls {
	margin-left:70px;
}
#contact input {
	width:210px;
}
#contact textarea {
	width:280px;
	height:130px;
}
#contact .form-action {
	margin-top:18px;
	color:#808080;
}
#contact .form-action .btn {
	float:right;
}
#contact .form-action .btn span {
	font-size:10px;
	position: relative;
	top: -2px;
}
#contact form{
	margin:0;
}
#contact .right h4 {
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
}
#contact .mapstamp {
	float:right;
	position:relative;
	border:1px dotted #276A75;
	position:relative;
	top:-60px;
}
.QapTcha {
	float: left;
	width: 252px;
	margin-top: 20px;
}

.QapTcha .bgSlider {
    background-color: #F5F5F5;
    border: 1px solid #DCD6CC;
    box-shadow: 1px 1px 2px #A89A86;
    float: left;
    height: 37px;
    width: 252px;
}
.QapTcha .Slider {
    background: url('http://d2n39uym85fey2.cloudfront.net/assets/img/slide-arrow.png') no-repeat scroll transparent;
    cursor: e-resize;
    height: 37px;
    width: 52px;
}
.QapTcha .TxtStatus {
    clear: both;
    color: #BB2828;
    font-family: Verdana;
    font-size: 10px;
    margin-top: 7px;
    text-align: left;
    width: 252px;
}
.QapTcha .dropSuccess {
    color: #4E8B37;
}
.QapTcha .dropError {
    color: #BB2828;
}

/*///////// SUB PAGES /////////*/

.sub-page {
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/bg_quartertwirl.png') no-repeat 0px 57px;
}
.sub-page .title {
	margin-top:60px;
	margin-bottom:60px;
}
.pager a {
	border:1px dotted #276A75;
	margin-top:4px;
}
.article h2 {
	color:#81A80E;
}
.article .subtitle {
	color:#808080;
	font-style:italic;
	margin-bottom:20px;
	font-size:16px;
}
.side-box .box {
	padding:17px 20px 20px;
	border:1px dotted #276A75;
	color:#808080;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.side-box .box2 {
	padding:17px 20px 20px;
	border:1px dotted #81A80E;
	color:#808080;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:20px;
}

/*///////// PRESS /////////*/

.featured .entry {
	padding:15px 0;
}
.featured .entry h4 {
	font-size:18px;
}
.featured .entry .date {
	color:#808080;
	margin:4px 0;
}
.featured .entry .quote {
	font-style:italic;
}

/*///////// JOBS /////////*/

#jobs .job { 
	border:1px solid #ddd;
	padding:10px 15px 0px;
	margin-bottom:20px;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
#jobs .job:hover { 
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#job form textarea {
	width:325px;
	height:100px;
}

/*///////// THANKS /////////*/

#thanks .article { margin-bottom:400px;}

/*///////// PRIVACY /////////*/

#privacy .side-nav li {
	margin-bottom:10px;
}

/*///////// FOOTER /////////*/

.footer.well {
	margin:100px 0 0 0;
}
.footer .sitemap {
	margin-left:0;
	list-style:none;
	position:relative;
	top:-5px;
}
.footer .sitemap li {
	display:inline;
	margin-right:10px;
}
.footer .sitemap .glyph {
	margin-right:5px;
}
.footer li.follow {
	margin-top:10px;
	display:block;
}
.footer .follow, .footer .follow .glyph a {
	color:#808080;
	position:relative;
	-webkit-transition: 0.1s ease;
	-moz-transition: 0.1s ease;
	-ms-transition: 0.1s ease;
	-o-transition: 0.1s ease;
	transition: 0.1s ease;
}
.footer .follow .one {
	margin-left:5px;
}
.footer .follow .glyph a:hover {
	color:#21808F;
	top:-3px;
}
.footer .signin {
	float:right;
}
.footer .copyright {
  margin-top: 14px; 
}


/*///////// LANDING PAGE /////////*/

html {
	min-height: 100%;
}

#landing-page {
	height: 100%;
	color:#fff;
	padding: 0 !important;
	background: #276a75; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #276a75), color-stop(100%, #00455b)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#276a75', endColorstr='#00455b', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.landing-header {
	padding: 40px 0 0 0;
	text-align: center;
}

.landing-header h1 {
	margin: 10px 0 0 0;
	color: #D6E5E7;
	font-size: 54px;
	font-weight: normal;
}

.landing-nav {
	margin: 70px 0 0 0;
}

.landing-nav section header {
	width: 265px;
	height: 265px;
	background: #fff url('http://d2n39uym85fey2.cloudfront.net/assets/img/sprite_btn_landing.png');
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);	
}

.landing-nav .btn-link {
	display: block;
	width: 265px;
	height: 265px;
}

.landing-nav .btn-link span {
	display: block;
	margin: 0 15px;
	padding: 20px 0 15px 0;
	color: #0A5F71;
	font-size: 16px;
	text-align: center;
	border-bottom: 1px solid #0A5F71;
}

.landing-nav footer {
	margin: 20px 0 0 0;
	padding: 0 0 0 20px;
	color: #D6E5E7;
	font-size: 13px;
	border-left: 1px solid #D6E5E7;
}

.dashboard-client header {
	background-position: -265px 0 !important;
}

/* White label landing */

.centered {
	text-align: center;
}

.white-label-header {
	padding: 10px 0 290px 0;
}

.white-label-header.inside {
	padding-bottom: 90px;
}

.white-label-header.corporate {
	padding-bottom: 90px;
}

.white-label-header h1.label-heading {
	color: #fff;
	text-shadow: 0 0 2px rgba(0,0,0,0.5);
}


.btn-learn {
	display: block;
	margin: 20px auto 30px auto;
	width: 225px;
	padding: 11px 15px 7px;
	font-size: 23px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-learn img{
	margin-top: 10px;
}

.branded-screenshot {
	display: block;
	margin: -250px auto 0 auto;
}

.white-label-logos {
	padding: 20px 0 10px 10px;
	margin: 10px 0 0 0;
}

.white-label-logos h2 {
	margin: 0 0 15px 0;
}

.modal-header .label-heading {
	padding: 15px 0;
}

.modal .asterisk {
	color: #D20061;
}

.modal .mce_inline_error[generated="true"] {
	display: none !important;
}

.landing-banner {
  position: relative;
  z-index: 1000;
  margin-top: 7px;
	color: #fff;
	padding: 30px 0 0;
	background: #276a75; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #276a75), color-stop(100%, #00455b)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover, #276a75 0%, #00455b 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#276a75', endColorstr='#00455b', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow:inset 0 -10px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:inset 0 -10px 10px rgba(0, 0, 0, 0.2);
	box-shadow:inset 0 -10px 10px rgba(0, 0, 0, 0.2);
}

.landing-footer {
	margin-top: 30px !important;
}

.header-page-not-found {
	padding: 70px 0;
	background: #fff;
}

.header-page-not-found h1 {
	margin: 0 0 30px 0;
	text-align: center;
}

.header-page-not-found h3 {
	font-size: 18px;
	text-align: center;
}

.opt-box {
	min-height: 180px;
	margin: 50px 0 0 0;
	padding: 10px 15px 10px 10px;
	background: rgba(0,0,0,0.03);
	border-radius: 3px;
	box-shadow: inset -1px -1px 0 rgba(255,255,255,0.3);
	text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
}

.opt-box h4 {
	color: #111;
	height: 50px;
	font-weight: bold;
}


/* small grey icons */
[class^="icon-small"]:last-child, [class*=" icon-small"]:last-child {
  *margin-left: 0;
}
[class^="icon-small"], [class*=" icon-small"] {
background-image: url('http://d2n39uym85fey2.cloudfront.net/assets/img/sprite_icons_16x16.png');
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.icon-small-add-chat              { background-position: -10px -10px; }
.icon-small-add-doc               { background-position: -30px -10px; }
.icon-small-add-image           { background-position: -50px -10px; }
.icon-small-add-product         { background-position: -70px -10px; }
.icon-small-add-tag                { background-position: -90px -10px; }
.icon-small-add-user              { background-position: -110px -10px; }
.icon-small-add-video            { background-position: -130px -10px; }
.icon-small-add-window         { background-position: -150px -10px; }
.icon-small-adress-book         { background-position: -170px -10px; }
.icon-small-alert                    { background-position: -190px -10px; }
.icon-small-align-center         { background-position: -210px -10px; }
.icon-small-align-left              { background-position: -230px -10px; }
.icon-small-align-right            { background-position: -250px -10px; }
.icon-small-arrow-circle-down { background-position: -270px -10px; }
.icon-small-arrow-circle-left    { background-position: -290px -10px; }
.icon-small-arrow-circle-right  { background-position: -310px -10px; }
.icon-small-arrow-circle-top    { background-position: -330px -10px; }
.icon-small-arrow-left             { background-position: -350px -10px; }
.icon-small-arrow-right           { background-position: -370px -10px; }
.icon-small-attach                  { background-position: -390px -10px; }
.icon-small-attention              { background-position: -10px -30px; }
.icon-small-bag                      { background-position: -30px -30px; }
.icon-small-baloon                  { background-position: -50px -30px; }
.icon-small-baloon-question    { background-position: -70px -30px; }
.icon-small-bell                       { background-position: -90px -30px; }
.icon-small-binoculars             { background-position: -110px -30px; }
.icon-small-book                     { background-position: -130px -30px; }
.icon-small-book2                   { background-position: -150px -30px; }
.icon-small-box                       { background-position: -170px -30px; }
.icon-small-break                    { background-position: -190px -30px; }
.icon-small-brush                    { background-position: -210px -30px; }
.icon-small-bug                       { background-position: -230px -30px; }
.icon-small-building                 { background-position: -250px -30px; }
.icon-small-building2               { background-position: -270px -30px; }
.icon-small-businessman         { background-position: -290px -30px; }
.icon-small-bulb                       { background-position: -310px -30px; }
.icon-small-bulb-off                 { background-position: -330px -30px; }
.icon-small-bulb-shine             { background-position: -350px -30px; }
.icon-small-bus                        { background-position: -370px -30px; }
.icon-small-calc                       { background-position: -390px -30px; }
.icon-small-calendar                { background-position: -10px -50px; }
.icon-small-case                      { background-position: -30px -50px; }
.icon-small-chart                     { background-position: -50px -50px; }
.icon-small-chat                      { background-position: -70px -50px; }
.icon-small-check-mark0        { background-position: -90px -50px; }
.icon-small-check-mark1        { background-position: -110px -50px; }
.icon-small-check-mark2        { background-position: -130px -50px; }
.icon-small-check-mark3        { background-position: -150px -50px; }
.icon-small-circle-cross           { background-position: -170px -50px; }
.icon-small-clipboard              { background-position: -190px -50px; }
.icon-small-clock                    { background-position: -210px -50px; }
.icon-small-cloud                    { background-position: -230px -50px; }
.icon-small-code                     { background-position: -250px -50px; }
.icon-small-color-picker          { background-position: -270px -50px; }
.icon-small-computer             { background-position: -290px -50px; }
.icon-small-console                { background-position: -310px -50px; }
.icon-small-cross                    { background-position: -330px -50px; }
.icon-small-cross-small           { background-position: -350px -50px; }
.icon-small-darts-board          { background-position: -370px -50px; }
.icon-small-dashboard            { background-position: -390px -50px; }
.icon-small-database              { background-position: -10px -70px; }
.icon-small-deer                     { background-position: -30px -70px; }
.icon-small-doc                      { background-position: -50px -70px; }
.icon-small-docs                     { background-position: -70px -70px; }
.icon-small-download             { background-position: -90px -70px; }
.icon-small-embed                  { background-position: -110px -70px; }
.icon-small-end                       { background-position: -130px -70px; }
.icon-small-expand                 { background-position: -150px -70px; }
.icon-small-eye                       { background-position: -170px -70px; }
.icon-small-fire                       { background-position: -190px -70px; }
.icon-small-flag                      { background-position: -210px -70px; }
.icon-small-folder                   { background-position: -230px -70px; }
.icon-small-fullscreen             { background-position: -250px -70px; }
.icon-small-fullscreen2           { background-position: -270px -70px; }
.icon-small-fwd                      { background-position: -290px -70px; }
.icon-small-game-console      { background-position: -310px -70px; }
.icon-small-get-from-cloud     { background-position: -330px -70px; }
.icon-small-globe                   { background-position: -350px -70px; }
.icon-small-globe2                 { background-position: -370px -70px; }
.icon-small-group-icon           { background-position: -390px -70px; }
.icon-small-hand                   { background-position: -10px -90px; }
.icon-small-headphones        { background-position: -30px -90px; }
.icon-small-heart                   { background-position: -50px -90px; }
.icon-small-heart-empty        { background-position: -70px -90px; }
.icon-small-home                  { background-position: -90px -90px; }
.icon-small-image                 { background-position: -110px -90px; }
.icon-small-info                     { background-position: -130px -90px; }
.icon-small-ipad                    { background-position: -150px -90px; }
.icon-small-iphone                { background-position: -170px -90px; }
.icon-small-key                     { background-position: -190px -90px; }
.icon-small-laughing             { background-position: -210px -90px; }
.icon-small-layers                 { background-position: -230px -90px; }
.icon-small-like                     { background-position: -250px -90px; }
.icon-small-line-chart            { background-position: -270px -90px; }
.icon-small-link                     { background-position: -290px -90px; }
.icon-small-list                      { background-position: -310px -90px; }
.icon-small-location               { background-position: -330px -90px; }
.icon-small-location-place      { background-position: -350px -90px; }
.icon-small-lock                     { background-position: -370px -90px; }
.icon-small-magic-wand        { background-position: -390px -90px; }
.icon-small-mail                     { background-position: -10px -110px; }
.icon-small-melody                { background-position: -30px -110px; }
.icon-small-melody2              { background-position: -50px -110px; }
.icon-small-mic                      { background-position: -70px -110px; }
.icon-small-mobile                 { background-position: -90px -110px; }
.icon-small-modern-camera  { background-position: -110px -110px; }
.icon-small-more                  { background-position: -130px -110px; }
.icon-small-movie                 { background-position: -150px -110px; }
.icon-small-new-mail            { background-position: -170px -110px; }
.icon-small-note                    { background-position: -190px -110px; }
.icon-small-notebook            { background-position: -210px -110px; }
.icon-small-pages                 { background-position: -230px -110px; }
.icon-small-pause                 { background-position: -250px -110px; }
.icon-small-pause-circle        { background-position: -270px -110px; }
.icon-small-pencil                  { background-position: -290px -110px; }
.icon-small-phone                 { background-position: -310px -110px; }
.icon-small-phone-book        { background-position: -330px -110px; }
.icon-small-photo                  { background-position: -350px -110px; }
.icon-small-picture                { background-position: -370px -110px; }
.icon-small-pie-chart             { background-position: -390px -110px; }
.icon-small-pin                      { background-position: -10px -130px; }
.icon-small-plane                  { background-position: -30px -130px; }
.icon-small-plastic-card         { background-position: -50px -130px; }
.icon-small-play                    { background-position: -70px -130px; }
.icon-small-play-circle           { background-position: -90px -130px; }
.icon-small-plus                    { background-position: -110px -130px; }
.icon-small-plus2                  { background-position: -130px -130px; }
.icon-small-pointer-bottom   { background-position: -150px -130px; }
.icon-small-pointer-left         { background-position: -170px -130px; }
.icon-small-pointer-right       { background-position: -190px -130px; }
.icon-small-pointer-top         { background-position: -210px -130px; }
.icon-small-pop-up-video      { background-position: -230px -130px; }
.icon-small-power                 { background-position: -250px -130px; }
.icon-small-presentation       { background-position: -270px -130px; }
.icon-small-print                   { background-position: -290px -130px; }
.icon-small-private               { background-position: -310px -130px; }
.icon-small-put-in-cloud       { background-position: -330px -130px; }
.icon-small-question            { background-position: -350px -130px; }
.icon-small-quill                   { background-position: -370px -130px; }
.icon-small-reload                { background-position: -390px -130px; }
.icon-small-remove-chat      { background-position: -10px -150px; }
.icon-small-remove-doc       { background-position: -30px -150px; }
.icon-small-remove-image   { background-position: -50px -150px; }
.icon-small-remove-product { background-position: -70px -150px; }
.icon-small-remove-tag        { background-position: -90px -150px; }
.icon-small-remove-user      { background-position: -110px -150px; }
.icon-small-remove-video     { background-position: -130px -150px; }
.icon-small-remove-window { background-position: -150px -150px; }
.icon-small-return                { background-position: -170px -150px; }
.icon-small-rev                    { background-position: -190px -150px; }
.icon-small-rss                     { background-position: -210px -150px; }
.icon-small-sad-smile           { background-position: -230px -150px; }
.icon-small-schedule            { background-position: -250px -150px; }
.icon-small-scissors             { background-position: -270px -150px; }
.icon-small-search               { background-position: -290px -150px; }
.icon-small-security             { background-position: -310px -150px; }
.icon-small-secutity-ok         { background-position: -330px -150px; }
.icon-small-send                  { background-position: -350px -150px; }
.icon-small-settings             { background-position: -370px -150px; }
.icon-small-settings2           { background-position: -390px -150px; }
.icon-small-share                 { background-position: -10px -170px; }
.icon-small-shit                    { background-position: -30px -170px; }
.icon-small-shopping-bag    { background-position: -50px -170px; }
.icon-small-shopping-cart    { background-position: -70px -170px; }
.icon-small-shopping-cart-full{ background-position: -90px -170px; }
.icon-small-shopping-cart-in{ background-position: -110px -170px; }
.icon-small-shopping-cart-out{ background-position: -130px -170px; }
.icon-small-shorten              { background-position: -150px -170px; }
.icon-small-smile                  { background-position: -170px -170px; }
.icon-small-star                    { background-position: -190px -170px; }
.icon-small-start                   { background-position: -210px -170px; }
.icon-small-stop                   { background-position: -230px -170px; }
.icon-small-support              { background-position: -250px -170px; }
.icon-small-tag                     { background-position: -270px -170px; }
.icon-small-tags                   { background-position: -290px -170px; }
.icon-small-thumbnails        { background-position: -310px -170px; }
.icon-small-thumbnails-large{ background-position: -330px -170px; }
.icon-small-timer                 { background-position: -350px -170px; }
.icon-small-trash                 { background-position: -370px -170px; }
.icon-small-tv                      { background-position: -390px -170px; }
.icon-small-unfullscreen      { background-position: -10px -190px; }
.icon-small-unfullscreen2    { background-position: -30px -190px; }
.icon-small-unlike                { background-position: -50px -190px; }
.icon-small-unlock               { background-position: -70px -190px; }
.icon-small-update              { background-position: -90px -190px; }
.icon-small-user                  { background-position: -110px -190px; }
.icon-small-user-icon           { background-position: -130px -190px; }
.icon-small-user-icon-girl     { background-position: -150px -190px; }
.icon-small-users                 { background-position: -170px -190px; }
.icon-small-users-icon         { background-position: -190px -190px; }
.icon-small-video                 { background-position: -210px -190px; }
.icon-small-volume              { background-position: -230px -190px; }
.icon-small-volume-off         { background-position: -250px -190px; }
.icon-small-volume-off-circle{ background-position: -270px -190px; }
.icon-small-volume-on-circle{ background-position: -290px -190px; }
.icon-small-wallet                { background-position: -310px -190px; }
.icon-small-web-camera      { background-position: -330px -190px; }
.icon-small-window             { background-position: -350px -190px; }
.icon-small-zoom-in            { background-position: -370px -190px; }
.icon-small-zoom-out          { background-position: -390px -190px; }


/* inner pages */

.sub-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #d7d3d3;
  border-bottom: 1px solid #c7c7c7;
  box-shadow: 0 0 2px rgba(30, 30, 30, 0.15), inset 1px 1px 0 rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  background: #f7f7f7;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#eaeaea));
  background: -moz-linear-gradient(#f7f7f7, #eaeaea);
  background: -o-linear-gradient(#f7f7f7, #eaeaea);
  background: linear-gradient(#f7f7f7, #eaeaea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#eaeaea", GradientType=0);
  *zoom: 1;
}

.sub-nav:before, .sub-nav:after {
  display: table;
  content: "";
}

.sub-nav:after {
  clear: both;
}

.sub-nav li {
  float: left;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.sub-nav li a {
  display: block;
  position: relative;
  padding: 10px 20px 10px 20px;
  color: #505050;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.sub-nav li a:before, .sub-nav li a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #d7d3d3;
  -moz-opacity: 0.65;
  filter: alpha(opacity=65);
  opacity: 0.65;
}

.sub-nav li a:after {
  right: 1px;
  background: #fff;
  -moz-opacity: 0.65;
  filter: alpha(opacity=65);
  opacity: 0.65;
}

.sub-nav li a:hover {
  color: #00455b;
  background: #f7f7f7;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.sub-nav li.active a {
  color: #f4f4f4;
  cursor: default;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.5), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
  background: #626262;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#626262), to(#919191));
  background: -moz-linear-gradient(#626262, #919191);
  background: -o-linear-gradient(#626262, #919191);
  background: linear-gradient(#626262, #919191);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#626262", endColorstr="#919191", GradientType=0);
}

.sub-nav li.active a:after, .sub-nav li.active a:before {
  display: none;
}

.sub-nav.alt-active .active a {
  color: #00455b;
  background: inherit;
  box-shadow: none;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.9);
}

.sub-nav.alt-active .active a:after, .sub-nav.alt-active .active a:before {
  display: block;
}

.sub-nav.dark-bg {
  border: 1px solid #0981b6;
  border-bottom: 1px solid #0981b6;
  box-shadow: 0 0 2px rgba(30, 30, 30, 0.15), inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  background: #19affe;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#19affe), to(#039ae8));
  background: -moz-linear-gradient(#19affe, #039ae8);
  background: -o-linear-gradient(#19affe, #039ae8);
  background: linear-gradient(#19affe, #039ae8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#19affe", endColorstr="#039ae8", GradientType=0);
}

.sub-nav.dark-bg li a {
  color: #f8f8f8;
  text-shadow: 1px 1px 0 rgba(40, 40, 90, 0.6);
}

.sub-nav.dark-bg li a:before {
  background: #1085c2;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.sub-nav.dark-bg li a:after {
  background: #bde8ff;
  -moz-opacity: 0.42;
  filter: alpha(opacity=42);
  opacity: 0.42;
}

.sub-nav.dark-bg li a:hover {
  color: #ebeef0;
  background-color: #039ae8;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.2);
}

.sub-nav.dark-bg li.active a {
  margin-left: -1px;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.35), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
  background: #0075c4;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#0075c4), to(#31a7e5));
  background: -moz-linear-gradient(#0075c4, #31a7e5);
  background: -o-linear-gradient(#0075c4, #31a7e5);
  background: linear-gradient(#0075c4, #31a7e5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0075c4", endColorstr="#31a7e5", GradientType=0);
}

.sidebar-nav {
	padding: 10px 0;
	position: relative;
	z-index: 100;
}

.sidebar-nav li {
	padding: 0 0 5px 0;
}

.main-block {
	margin-top: -60px;
	padding-bottom: 30px;
	background: #eee;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.block-wrapper {
	padding: 0 20px;
}

.block-wrapper.heading {
	margin-top: -18px;
	padding: 20px 20px 0 20px;
	border-radius: 10px 10px 0 0;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
}

.block-wrapper.heading h1 {
	padding: 0;
}

.outlined {
	border: 1px solid #e2e2e2;
}

.filter-block {
	margin: 20px;
}

.card {
	margin: 15px 0;
}

.card .description {
	width: 275px;
	margin-left: 15px;
}

.card .description h4 {
	margin-bottom: 10px;
}

.card .description span {
	font-size: 12px;
}

.desc-item {
	display: inline-block;
	padding: 0 0 7px 0;
}

.desc-item strong {
	display: inline-block;
	width: 150px;
	padding-right: 8px;
}

.details {
	padding: 15px 0 20px 0;
}

.details .muted {
	font-size: 12px;
}

.recent-posts {
	margin: 0;
	padding: 10px 0 20px 0;
	list-style: none;
}

.recent-posts li {
	padding: 10px 0;
	border-top: 1px dotted #e2e2e2;	
}

.recent-posts h4 {
	font-size: 15px;
}

.recent-posts p {
	font-size: 12px;
	padding: 5px 0 0 0;
	margin: 0;
}

.location-map {
	padding: 40px 0;
	text-align: center;
}

.tags {
	margin: 0;
	list-style: none;
}

.tags li {
	margin: 0 0 5px 0;
}

.tags a {
	display: block;
	position: relative;
	padding: 3px 10px;
	font-size: 12px;
	background: #e2e2e2;
	border-radius: 3px;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
	z-index: 10;
}

.share-panel {
	background: #e2e2e2;
	padding: 6px 10px;
	border-radius: 3px;
}

.share-panel .addthis_toolbox {
	float: right;
}

.reviews-block {
	margin: 20px 0;
	padding: 20px 0;
	border-top: 1px dotted #e2e2e2;
}

.reviews-list {
	margin: 0;
	padding: 5px 0 20px 0;
	list-style: none;
}

.reviews-list li {
	padding: 15px 0;
	border-bottom: 1px dotted #e2e2e2;
}

.reviews-list .review-meta {
	padding: 5px 0;
	font-size: 11px;
	color: #555;
}

.reviews-list p {
	margin: 0;
	padding: 10px 0;
	font-size: 12px;
}

.reviews-list .review-rating {
	display: inline-block;
	padding: 3px 7px;
	font-size: 12px;
	background: #e2e2e2;
	border-radius: 3px;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
}

.team-name {
	display: block;
	padding: 8px 0 6px 0;
	font-size: 12px;
}

.team-title {
	display: block;
	padding: 0 0 5px 0;
	font-size: 11px;
}

/* founder profile */

.profile {
  color: #30878F;
}
.profile .glyph a {
	font-size:14px;
	margin-left:8px;
	color:#bfbfbf;
	-webkit-transition: 0.1s ease;
	-moz-transition: 0.1s ease;
	-ms-transition: 0.1s ease;
	-o-transition: 0.1s ease;
	transition: 0.1s ease;
	position:relative;
}
.profile .glyph a:hover {
	color:inherit;
	top:-3px;
}

/* team */

.thumbnail .on-top img {
  height: 110px;
  width: 110px;
}

/* made in nyc */

.nyc-stamp {
  margin: 0px 20px 20px 20px;
  float: left;
}
.inset-map {
	width: 600px;
	height: 603px;
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/activecell-map.png') no-repeat center;
  -webkit-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
	box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 20px;	
	position: relative;
}

.inset-freedom-tower {
	width: 600px;
	height: 600px;
	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/freedom-tower-ap-nyc.jpg') no-repeat center;
  -webkit-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
	box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 20px;	
	position: relative;  
}

.show-some-love {
	background: #e7e7e7;
	font-size: 18px;
	padding: 10px 15px;
	border-radius: 4px;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
}

/* press */

.logo-spacing {
  padding: 10px;
}
.logo-spacing img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.dark-well {
  border-radius: 4px;
  background-color: #052633;
  background-image: -moz-linear-gradient(top, #073648, #041b25);
  background-image: -ms-linear-gradient(top, #073648, #041b25);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#073648), to(#041b25));
  background-image: -webkit-linear-gradient(top, #073648, #041b25);
  background-image: -o-linear-gradient(top, #073648, #041b25);
  background-image: linear-gradient(top, #073648, #041b25);
}

/* advisor */

#advisors {
	margin-top: 120px;
	margin-bottom: 180px;
}

#advisors .container {
	position: relative;
	min-height: 465px;
	border-bottom: 1px solid #eee;
}

#advisors h3 {
	font-weight: normal;
	margin-bottom: 35px;
}

#advisors .heading {
	margin-right: 20px;
}

#advisors .advisor-block-photo {
	position: absolute;
	right: 25px;
	bottom: -4px;
	width: 290px;
}

#advisors blockquote {
	width: 900px;
	margin: 40px 0 0 0;
	padding: 15px 20px;
	background: #eee;
	border-radius: 5px;
	border-left: none;
	box-shadow: inset 0 0 15px rgba(0,0,0,0.12);
}


#advisors blockquote span {
	display: block;
	width: 540px;
}

#advisors blockquote small {
	padding-top: 10px;
}

#advisors .link {
	position: relative;
	top: 70px;
}

.scrn-block {
  	background:url('http://d2n39uym85fey2.cloudfront.net/assets/img/scrnsht1.png') no-repeat center;
  	-webkit-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
	box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	width: 620px;
	height: 390px;
	overflow: hidden;
}

.contact-form {
	padding-bottom: 15px;
}

.contact-form legend {
	margin-bottom: 12px;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

.contact-form .control-group {
	margin-bottom: 0;
}

.contact-form label {
	margin-bottom: 3px;
	font-size: 12px;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

.btn-block {
	display: block;
	width: 100%;
}

.advisor-label-logos {
	width: 900px;
	height: 70px;
	margin: 0 0 0 8px;
	overflow: hidden;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.advisor-label-logos img {
	width: 920px !important;
	max-width: none;
	margin-left: -5px;
}

.advisor-block {
	position: relative;
	margin: 60px 0;
	min-height: 380px;
	border-bottom: 1px solid #aaa;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
}

.advisor-block h3 {
	padding: 40px 0 20px 0;
	font-weight: normal;
	color: #81A80E;
}

.advisor-block .left-col {
	float: left;
	width: 520px;
	padding-left: 10px;
}

.advisor-block .right-col {
	float: right;
	width: 520px;
	padding-right: 10px;
}

.advisor-block .left-col blockquote {
	margin: 40px 0 45px -10px;
	padding: 25px 20px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
	width: 855px;
}

.advisor-block .left-col blockquote span.quote {
	display: block;
	width: 485px;
	line-height: 1.5;
	font-weight: 200;
	font-size: 16px;
	margin-bottom: 10px;
}

.advisor-block .left-col blockquote span.credit {
	color: #30878F;
	font-weight: bold;
}

.advisor-block .right-col blockquote {
	margin: 40px 0 45px -372px;
	padding: 25px 20px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
	width: 862px;
}

.advisor-block .right-col blockquote span.quote {
	display: block;
	width: 485px;
	margin-left: 350px;
	line-height: 1.5;
	font-weight: 200;
	font-size: 16px;
	margin-bottom: 10px;

}

.advisor-block .right-col blockquote span.credit {
  	color: #30878F;
  	font-weight: bold;
	margin-left: 350px;
}

.advisor-block .advisor-block-photo {
	position: absolute;
	right: 25px;
	bottom: -4px;
	width: 350px;
}

.advisor-block .advisor-block-photo.right {
	right: auto;
	left: 6px;
}

.blog-preview {
	margin: 0;
	padding: 0 0 10px 0;
	list-style: none;
}

.blog-preview > li {
	margin: 30px 0 10px 0;
	padding: 0 0 30px 0;
	border-bottom: 1px dotted #ddd;
}

.blog-preview .post-date {
	float: left;
	width: 60px;
	height: 60px;
	background: #eee;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3),
			0 0 4px rgba(0,0,0,0.1);
}

.blog-preview .post-date .day {
	display: inline-block;
	padding: 11px 0 5px 0;
	font-size: 30px;
}

.blog-preview .post-date .month {
	font-size: 11px;
} 

.blog-preview .post-content {
	float: left;
	width: 840px;
	margin: -4px 0 0 30px;
}

.blog-preview .post-content h3 {
	font-weight: normal;
	font-size: 18px;
}

.blog-preview .tags li {
	float: left;
	margin: 0 10px 0 0;
}

.blog-preview .tags a {
	margin-right: 5px;
	padding: 1px 9px;
	color: #fff;
	background-color: #21808F;
	text-shadow: none;
}

.blog-preview .tags li a:hover {
	opacity: 0.8;
}

.blog-preview .tags a:before {
	content: "";
	display: block;
	position: absolute;
	left: 0px;
	top: 8px;
	width: 4px;
	height: 4px;
	background: #fff;
	border-radius: 10px;
}

.blog-preview .tags a:after {
	content: "";
	display: block;
	position: absolute;
	left: -6px;
	top: 2px;
	width: 15px;
	height: 15px;
	background: inherit;
	border-radius: 3px;
	z-index: -1;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg); 
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

.blog-item {
	margin: 0 0 40px 0;
}

.blog-item .header-wrapper {
	margin: 0 0 10px 0;
	padding-left: 15px;
}

.blog-item .post-avatar {
	width: 100px;
	height: 80px;
	float: left;
}

.blog-item .post-heading {
	/*float: left;*/
}

.blog-item .post-heading h3,
.blog-item .post-heading h5 {
	font-weight: normal;
	color: gray;
}

.blog-item .post-content {
	float: left;
	width: 370px;
	padding-right: 10px;
}

.blog-item .post-sidebar {
	float: left;
	width: 150px;
	padding-left: 10px;
	border-left: 1px solid #eee;
}

.blog-item .post-sidebar .comments {
	display: block;
	margin: 0 0 10px 0;
}

.blog-item .post-sidebar .social-bookmarks {
  position: relative;
  z-index: 1000;
	margin: 20px 0;
}

.blog-item .post-sidebar .social-bookmarks .fb_iframe_widget_lift {
  z-index: 1001 !important;
}

.avatar-grid {
	margin: 0;
	padding: 15px 0;
}

.avatar-grid li {
	float: left;
	margin: 0 10px 10px 0;
	list-style: none;
}

.blog-item .comments-form {
	clear: both;
	padding: 20px 0 0 0;
} 

.comments-list {
	margin: 50px 0 20px 0;
	padding: 0;
	list-style: none;
}

.comments-list li {
	margin: 0 0 10px 0;
	padding: 10px 0 10px 0;
	border-bottom: 1px dotted #eee;
}

.comments-list .comment-author,
.comments-list .comment-date  {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px 5px 0;
}


/* bg colors */

.bg-orange {
	background-color: #D39A42 !important;
}

.bg-black {
	background-color: #231F20 !important;
}

.bg-gray {
	background-color: #5A5B5B !important;
}

.bg-blue {
	background-color: #21808F !important;
}

.bg-green {
	background-color: #8ac16f !important;
}

.bg-red {
	background-color: #dc6e59 !important;
}