#content {
  background: #fff;
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
  position: relative !important;
  padding: 20px 0 !important;
}

#content:before, #content:after {
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0,0.7);
  box-shadow: 0 15px 10px rgba(0,0,0,0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  position: absolute;
  bottom: 15px;
  left: 10px;
  content: " ";
  z-index: -2;
  width: 50%;
  height: 10px;
  max-width: 300px;
  max-height: 10px;
}

#content:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}