.navbar {
  border-bottom:2px solid #276A75;
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:0 8px 10px rgba(0, 0, 0, 0.2);
  box-shadow:0 10px 8px rgba(0, 0, 0, 0.2);
}
.navbar .brand {
  padding: 8px 16px 12px 0px;
}
.navbar .brand img {
  margin-top: 1px;
  margin-bottom: -8px;
}
.navbar .nav li {
  margin-top:16px;
  font-size:14px;
  margin-right:5px;
}
.navbar .nav .top {
  display:none;
}
.navbar .nav li a {
  padding:5px 10px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border:1px solid transparent;
}
.navbar .nav li a:hover {
  border:1px solid #000;
  color:#A9D5D8;
  border-top:1px solid #00455B;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.navbar .nav .active a {
  border:1px solid #00455B;
  border-top:1px solid #000;
}
.navbar .nav .active a:hover {
  border:1px solid #00455B;
  border-top:1px solid #000;
}

.navbar .signin {
  margin-top:14px;
  float:right;
}

/* subnav */
.sub-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #d7d3d3;
  border-bottom: 1px solid #c7c7c7;
  box-shadow: 0 0 2px rgba(30, 30, 30, 0.15), inset 1px 1px 0 rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  background: #f7f7f7;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#eaeaea));
  background: -moz-linear-gradient(#f7f7f7, #eaeaea);
  background: -o-linear-gradient(#f7f7f7, #eaeaea);
  background: linear-gradient(#f7f7f7, #eaeaea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#eaeaea", GradientType=0);
  *zoom: 1;
}

.sub-nav:before, .sub-nav:after {
  display: table;
  content: "";
}

.sub-nav:after {
  clear: both;
}

.sub-nav li {
  float: left;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.sub-nav li a {
  display: block;
  position: relative;
  padding: 10px 20px 10px 20px;
  color: #505050;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.sub-nav li a:before, .sub-nav li a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #d7d3d3;
  -moz-opacity: 0.65;
  filter: alpha(opacity=65);
  opacity: 0.65;
}

.sub-nav li a:after {
  right: 1px;
  background: #fff;
  -moz-opacity: 0.65;
  filter: alpha(opacity=65);
  opacity: 0.65;
}

.sub-nav li a:hover {
  color: #00455b;
  background: #f7f7f7;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.sub-nav li.active a {
  color: #f4f4f4;
  cursor: default;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.5), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
  background: #626262;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#626262), to(#919191));
  background: -moz-linear-gradient(#626262, #919191);
  background: -o-linear-gradient(#626262, #919191);
  background: linear-gradient(#626262, #919191);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#626262", endColorstr="#919191", GradientType=0);
}

.sub-nav li.active a:after, .sub-nav li.active a:before {
  display: none;
}

.sub-nav.alt-active .active a {
  color: #00455b;
  background: inherit;
  box-shadow: none;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.9);
}

.sub-nav.alt-active .active a:after, .sub-nav.alt-active .active a:before {
  display: block;
}

.sub-nav.dark-bg {
  border: 1px solid #0981b6;
  border-bottom: 1px solid #0981b6;
  box-shadow: 0 0 2px rgba(30, 30, 30, 0.15), inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  background: #19affe;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#19affe), to(#039ae8));
  background: -moz-linear-gradient(#19affe, #039ae8);
  background: -o-linear-gradient(#19affe, #039ae8);
  background: linear-gradient(#19affe, #039ae8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#19affe", endColorstr="#039ae8", GradientType=0);
}

.sub-nav.dark-bg li a {
  color: #f8f8f8;
  text-shadow: 1px 1px 0 rgba(40, 40, 90, 0.6);
}

.sub-nav.dark-bg li a:before {
  background: #1085c2;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.sub-nav.dark-bg li a:after {
  background: #bde8ff;
  -moz-opacity: 0.42;
  filter: alpha(opacity=42);
  opacity: 0.42;
}

.sub-nav.dark-bg li a:hover {
  color: #ebeef0;
  background-color: #039ae8;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.2);
}

.sub-nav.dark-bg li.active a {
  margin-left: -1px;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.35), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
  background: #0075c4;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#0075c4), to(#31a7e5));
  background: -moz-linear-gradient(#0075c4, #31a7e5);
  background: -o-linear-gradient(#0075c4, #31a7e5);
  background: linear-gradient(#0075c4, #31a7e5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0075c4", endColorstr="#31a7e5", GradientType=0);
}

.sidebar-nav {
  padding: 10px 0;
  position: relative;
  z-index: 100;
}

.sidebar-nav li {
  padding: 0 0 5px 0;
}

.main-block {
  position: relative;
  z-index: 1025;
  margin-top: -60px;
  padding-bottom: 30px;
  background: #eee;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}