.page-header {
  margin: 60px 0 20px 0 !important;
  padding: 0 !important;
  border: none !important;
}

.page-subtitle {
  color: #ccc;
  font-size: 18px;
  text-transform: capitalize;
}

.page-title {
  color: #fff;
  margin: 0;
}