---
layout: internal
title: "activecell: The Activecell Method. A small business management blog"
---

<!-- banner content -->

<div class="landing-banner">
  <div class="container">
    <div class="white-label-header inside">
      <h1 class="label-heading centered">The Activecell Method.</h1>
      <h1 class="label-heading centered">The small business management blog.</h1>
    </div>
  </div>
</div>
<div class="container main-block">
  <br />
  <div class="row">
    <div class="span8">
      <div class="block-wrapper">
        {{content}}
      </div>
    </div>

    <div class="span4">
      <div class="block-wrapper">
        <!-- TODO -->
        <a href="#" class="btn btn-primary" style="display: block;">
          Subscribe to email updates
        </a>
        <br />
        <br />

        <h3><a href="/2012/11/activecell-method.html">The Activecell Method</a></h3>
        <em>Our trademark business planning framework. Just 10 easy steps.</em>
        <ol class="sidebar-nav">
          <li><a href="/2012/11/baseline-historical.html">
            Build a historical baseline  
          </a></li>
          <li><a href="/2012/11/streams.html">
            Group your products and services into logical revenue streams
          </a></li>
          <li><a href="/2012/11/segments.html">
            Segment your customer base
          </a></li>
          <li><a href="/2012/11/channels.html">
            Plan for customer acquisition across multiple channels
          </a></li>
          <li><a href="/2012/11/review-revenue.html">
            Review your revenue plan
          </a></li>
          <li><a href="/2012/11/cust-acq-budget.html">
            Build a customer acquisition budget
          </a></li>
          <li><a href="/2012/11/cogs.html">
            Plan for cost of goods sold
          </a></li>
          <li><a href="/2012/11/staffing.html">
            Build a staffing plan
          </a></li>
          <li><a href="/2012/11/ga-expense.html">
            Plan for other expense categories
          </a></li>
          <li><a href="/2012/11/review-expense.html">
            Review your expense plan
          </a></li>
        </ol>

        <h3>Authors</h3>
        <ul class="avatar-grid clearfix">
          <!-- TODO -->
          <li>
            <a href="#">
              <img class="outlined" src="{{ 'assets/img/avatars/adam.jpg' | cdn }}" width="50" height="50" alt="" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>