---
layout: main
body_id: company-background
---

{% include navigation.html %}

<div class="page-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="page-subtitle">About</p>
        <h1 class="page-title">{{page.header-title}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="content" class="col-xs-12">
      <div class="h-entry">
        {{content}}
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>