---
layout: main
body_class: page
---

{% include navigation.html %}

<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p class="page-subtitle">About</p>
        <h1 class="page-title">{{page.header-title}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="content" class="span12">
      <div class="span8">
          {{content}}          
      </div>
      <div class="span3">
        <h3>About ActiveCell</h3>
        <ul class="sidebar-nav">
          <li><a href="/company/about.html">What is Activecell?</a></li>
          <li><a href="/company/manifesto.html">The Activecell Manifesto</a></li>
          <li><a href="/company/team.html">Our team</a></li>
          <li><a href="/company/tech.html">Our technology</a></li>
          <li><a href="/company/nyc.html">Made in NYC</a></li>
          <li><a href="/company/about-adam.html">Founder profile</a></li>
          <li><a href="/company/press-center.html">Press center</a></li>
        </ul>
        <h3>Activecell</h3>
        <p>
          9 Prospect Ave<br />
          Montclair, NJ 07042
        </p>
        <dl>
          <dt>For support</dt>
          <dd><a href="mailto:support@activecell.com">support@activecell.com</a></dd>
          <br />
          <dt>For press</dt>
          <dd><a href="mailto:press@activecell.com">press@activecell.com</a></dd>
          <br />
          <dt>For business development</dt>
          <dd><a href="mailto:bizdev@activecell.com">bizdev@activecell.com</a></dd>
          <br />
          <dt>Coldcallers and spammers</dt>
          <dd><a href="mailto:pleasestop@spammingus.com">pleasestop@spammingus.com</a></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->