---
layout: outer
title: "activecell: The small business management platform"
---

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="row show-grid">
        <div class="span9"> 
          <a class="brand" href="#">
            <img src="{{ 'assets/img/branding/activecell-full-color-darkBG-small.png' | cdn }}" 
              alt="activecell" width="180" height="50">
          </a>
          <div class="nav">
            <ul class="nav">
              <li><a href="index.html#features">Features</a></li>
              <li><a href="index.html#pricing">Pricing</a></li>
              <li><a href="experts.html">Experts</a></li>
              <li><a href="blog.html">The Activecell Method</a></li>
              <li><a href="advisors.html">For advisors</a></li>
            </ul>
          </div>
          <!--/.nav-collapse --> 
        </div>
        <div class="span3">
          <div class="btn-toolbar signin">
            <div class="btn-group">
              <a class="btn btn-success" href="#learn-more-modal" data-toggle="modal">
                <strong>Get an invite</strong>
              </a> 
              <a class="btn btn-primary" href="https://launchpad.activecell.com/users/sign_in">
                or <strong>Sign in</strong>
              </a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- banner content -->

<div class="landing-banner">
  <div class="container">
    <div class="white-label-header corporate">
      <h1 class="label-heading">About</h1>
    </div>
  </div>
</div>
<!-- <div class="gray"> -->
  <div class="container main-block">
    <br />
    <div class="row">
      <div class="span12">
        <div class="block-wrapper heading">
          <h2>{{page.header-title}}</h2>
          <br />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="span8">
          {{content}}
        </div>  
        <div class="span3">
          <h3>About ActiveCell</h3>
          <ul class="sidebar-nav">
            <li><a href="/about.html">What is Activecell?</a></li>
            <li><a href="/manifesto.html">The Activecell Manifesto</a></li>
            <li><a href="/team.html">Our team</a></li>
            <li><a href="/nyc.html">Made in NYC</a></li>
            <li><a href="/about-adam.html">Founder profile</a></li>
            <li><a href="/press-center.html">Press center</a></li>
          </ul>
          <h3>Activecell</h3>
          <p>175 Varick Street, Suite 365<br />
            New York, New York 10014</p>
          <dl>
            <dt>For support</dt>
            <dd><a href="mailto:support@activecell.com">support@activecell.com</a></dd>
            <br />
            <dt>For press</dt>
            <dd><a href="mailto:press@activecell.com">press@activecell.com</a></dd>
            <br />
            <dt>For business development</dt>
            <dd><a href="mailto:bizdev@activecell.com">bizdev@activecell.com</a></dd>
            <br />
            <dt>Salespeople and spammers</dt>
            <dd><a href="mailto:pleasestop@spammingus.com">pleasestop@spammingus.com</a></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->