---
layout: outer
body_class: "grey-bg"
---

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="row show-grid">
        <div class="span9"> 
          <a class="brand" href="/index.html">
            <img src="{{ 'assets/img/branding/activecell-full-color-darkBG-small.png' | cdn }}" 
              alt="activecell" width="180" height="50">
          </a>
          <div class="nav">
            <ul class="nav">
              <li><a href="/index.html#features">Features</a></li>
              <li><a href="/index.html#pricing">Pricing</a></li>
              <li><a href="/experts.html">Experts</a></li>
              <li><a href="/blog.html">The Activecell Method</a></li>
              <li><a href="/advisors.html">For advisors</a></li>
            </ul>
          </div>
          <!--/.nav-collapse --> 
        </div>
        <div class="span3">
          <div class="btn-toolbar signin">
            <div class="btn-group">
              <a class="btn btn-success" href="#learn-more-modal" data-toggle="modal">
                <strong>Get an invite</strong>
              </a> 
              <a class="btn btn-primary" href="https://launchpad.activecell.com/users/sign_in">
                or <strong>Sign in</strong>
              </a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{content}}