<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="description" content="Activecell: The small business management platform. Dynamic business planning and historical analysis of your data, all in one easy to use dashboard and reporting platform">
<meta name="author" content="Adam Neary">

<!-- Le analytics -->
<script type="text/javascript">
  var _kmq = _kmq || [];
  var _kmk = _kmk || 'b96efc5504c71f4fe35977f9673e2042aaeb1416';
  function _kms(u){
    setTimeout(function(){
      var d = document, f = d.getElementsByTagName('script')[0],
      s = d.createElement('script');
      s.type = 'text/javascript'; s.async = true; s.src = u;
      f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');
  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
</script>

<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
         <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->

<!-- Le styles -->
<link href='http://fonts.googleapis.com/css?family=Lusitana:700' rel='stylesheet' type='text/css'>
<link href="{{ 'assets/packaged_css.css' | timestamped | cdn }}" rel="stylesheet">

<script type="text/javascript" src="//use.typekit.net/xff3ece.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="{{ 'favicon.ico' | cdn }}">
<!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"> -->
</head>

<body data-rendering="true"
      {% if page.body_class %} class="{{ page.body_class }}" {% endif %}
      {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=339573456108056";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  {{content}}

  <div id="learn-more-modal" class="modal fade hide">
    <div class="modal-header">
      <a class="close pull-right" href="#" data-dismiss="modal">&times;</a>
      <h1 class="label-heading centered">Request an invite.</h1>
    </div>
    <div class="modal-body">
      <p>
        We are just beginning to roll out Activecell to an initial set up beta
        customers. if you are interested in getting started, please submit your
        information below, and we will shoot you an invite when we are ready to
        get you up and running (and thanks for your patience!).
      </p>
      <hr />

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="http://activecell.us1.list-manage1.com/subscribe/post?u=f7dd37fd18a14d929f90e314e&amp;id=1d17948705"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
          class="validate form-horizontal" target="_blank">
          <div class="mc-field-group control-group">
            <label for="mce-EMAIL" class="control-label">Email address  <span class="asterisk">*</span></label>
            <div class="controls">
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
          </div>
          <div class="mc-field-group control-group">
            <label for="mce-FNAME" class="control-label">First Name  </label>
            <div class="controls">
              <input type="text" value="" name="FNAME" id="mce-FNAME">
            </div>
          </div>
          <div class="mc-field-group control-group">
            <label for="mce-LNAME" class="control-label">Last Name  </label>
            <div class="controls">
              <input type="text" value="" name="LNAME" id="mce-LNAME">
            </div>
          </div>
          <div class="mc-field-group control-group">
            <label for="mce-COMPANY" class="control-label">Business name  </label>
            <div class="controls">
              <input type="text" value="" name="COMPANY" id="mce-COMPANY">
            </div>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response alert alert-error" id="mce-error-response" style="display:none"></div>
            <div class="response alert alert-success" id="mce-success-response" style="display:none"></div>
          </div>
          <div class="modal-footer">
            <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe"
              class="btn btn-primary btn-large">
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
  
  {% include footer.html %}

  <!-- Le javascript
      ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="{{ 'assets/js/waypoints.js' | cdn }}"></script>
  <script src="{{ 'assets/packaged_js.js' | timestamped | cdn }}"></script>

  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,
e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("d771c8de4dba8f7dd1cb9a76bcf1f10d");
mixpanel.track(location.href);</script><!-- end Mixpanel -->

<!-- Typekit -->
<script type="text/javascript" src="//use.typekit.net/xff3ece.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<script type="text/javascript" charset="utf-8">
  $('body').scrollspy({target: '#insights .nav'});
</script>

</body>
</html>

