---
layout: blog
---

<div class="blog-item clearfix">

  <div class="header-wrapper clearfix">
    <div class="post-avatar">
      <img class="outlined" src="{{ 'assets/img/avatars/adam.jpg' | cdn }}" width="80" height="80" alt="" />
    </div>
    <div class="post-heading">
      <h2>{{page.title}}</h2>
      <h5>Posted by {{page.author}} on {{page.date | date: "%A, %B %d, %Y"}}</h5>
    </div>
  </div>

  <div class="post-content-wrapper on-top clearfix">
    <div class="post-content">
      {{content}}
    </div>
    <div class="post-sidebar">
      <div class="social-bookmarks">
        <div class="addthis_toolbox addthis_default_style" addthis:url="{{page.url}}" addthis:title="{{page.title}}">
          <a class="addthis_button_facebook_like"></a>
          <a class="addthis_button_linkedin" style="clear: left; margin-top: 5px"></a>
          <a class="addthis_button_google_plusone" style="clear: left; margin-top: 5px"></a>
          <a class="addthis_button_tweet" style="clear: left; margin-top: 5px"></a>
          <a class="addthis_counter addthis_pill_style" style="clear: left; margin: 5px 0 0 4px"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50b2b8c846dbe6e6"></script>          
      </div>
      <ul class="tags">
        {% for tag in page.tags %}
          <li><a href="#">{{tag}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div id="comments" class="fb-comments" 
      data-href="{{page.url}}" 
      data-num-posts="10"
      data-width="550"></div>

  </div>
</div> <!-- /.blog-item -->

